In [1]:
import induction_utils

ImportError: cannot import name 'induction_utils'

In [1]:
%config Completer.use_jedi = False
%load_ext autoreload
%autoreload 2

from datasets import load_dataset
from pprint import pprint

In [2]:
import os
import sys
import inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0, parentdir)
from problems.text_fields import basic_program_normalize

ImportError: attempted relative import with no known parent package

In [3]:
DATALOADER_PY = "../hf_dataloader_scripts/semparse_loaders.py"
res = []
tasks = ["atis", "scholar", "geography", "advising"]
splits = ["iid", 'program']
task = tasks[1]
split = splits[0]
dataset = load_dataset(DATALOADER_PY, f"{task}_{split}")
ds = [" ".join(basic_program_normalize(example['lird'])) for example in dataset['train']]

Reusing dataset semparse_sql_dataset (/media/disk1/ksk5693/huggingface/datasets/semparse_sql_dataset/scholar_iid/1.0.1/5970afac9e2374d622243228b0b283c35184fef5bbc52d6a5ce59f14efd9c59e)

  0%|          | 0/3 [00:00<?, ?it/s]

ImportError: attempted relative import with no known parent package

In [4]:
class temp():
    sample_size = 4
    max_iterations = 100
    min_delta = 0.3
    terminal_codelength = 1
    non_terminal_codelength = 1
    parse_sample = True
    allow_repeated_target_nts = False
    seed_exact_match = False
    balance_parens = True
FLAG = temp()

In [6]:
config = induction_utils.InductionConfig(
  sample_size=FLAGS.sample_size,
  max_iterations=FLAGS.max_iterations,
  min_delta=FLAGS.min_delta,
  terminal_codelength=FLAGS.terminal_codelength,
  non_terminal_codelength=FLAGS.non_terminal_codelength,
  parse_sample=FLAGS.parse_sample,
  allow_repeated_target_nts=FLAGS.allow_repeated_target_nts,
  seed_exact_match=FLAGS.seed_exact_match,
  balance_parens=FLAGS.balance_parens,
)

examples_sample, examples_other = _split_examples(examples, config)

NameError: name 'induction_utils' is not defined

In [18]:
import induction_utils

ImportError: attempted relative import with no known parent package

In [ ]:
# Initialize with a rule for each example.
seed_rules = set()
for source_str, target_str in examples_sample:
    seed_rules.add(_example_to_rule(source_str, target_str))
print("Added %s seed rules for examples." % len(seed_rules))

# Iteratively induce rules over the sampled set of examples.
induced_rules = _induce_rules_for_examples(examples_sample, seed_rules,
                                           config)
print("Induced %s rules from sample of %s examples." %
      (len(induced_rules), len(examples_sample)))

# Verify that induced grammar can derive all examples in examples_sample.
# We use the QCFG parser rather than `derivation_utils` as it is typically
# faster when we do not need to consider non-terminals in the goal strings,
# and to verify consistency of the algorithms.
for source_str, target_str in examples_sample:
    if not qcfg_parser.can_parse(source_str, target_str, induced_rules):
        raise ValueError("Induced rules cannot parse example: (%s, %s)" %
                         (source_str, target_str))

print("Checking %s remaining examples." % len(examples_other))
# Add rules for any examples that were not in the original sample and cannot
# be derived by the induced set of rules.
if examples_other:
    if config.seed_exact_match:
        induced_rules |= exact_match_utils.get_exact_match_rules(examples_other)
    print("Rules after exact match for remaining examples: %s" %
          len(induced_rules))
    for source_str, target_str in examples_other:
        if not qcfg_parser.can_parse(source_str, target_str, induced_rules):
            induced_rules.add(_example_to_rule(source_str, target_str))
    print("Rules after adding rules for unparsable remaining examples: %s" %
          len(induced_rules))

return induced_rules

In [104]:
ds = dataset['train']

In [105]:
vocab = []
for inst in ds:
    vocab += basic_program_normalize(inst['lird'])

In [106]:
vocab = list(set(vocab))

In [107]:
import string
idx2vocab = dict((idx, token) for idx, token in enumerate(vocab))
vocab2idx = dict((v, k) for k, v in idx2vocab.items())
idx2ch = dict((idx, ch) for idx, ch in enumerate(string.printable[:len(idx2vocab)]))
ch2idx = dict((v, k) for k, v in idx2ch.items())

In [108]:
def t2cht(template):
    tokens = basic_program_normalize(template)
#     print(tokens)
    indices = [vocab2idx[token] for token in tokens]
#     print(indices)    
    cht = [idx2ch[idx] for idx in indices]
    return "".join(cht)

def cht2t(cht):
    indices = [ch2idx[ch] for ch in cht]
#     print(indices)    
    template = [idx2vocab[idx] for idx in indices]
    return " ".join(template)

In [146]:
from sksequitur import Parser, parse
grammar = parse([t2cht(inst['lird']) for inst in ds])

In [151]:
parse(['abc', 'abcabc', 'abcabcabc'])

{Production(0): ['abc', 'abcabc', 'abcabcabc']}

In [170]:
parser = Parser()
parser.feed('abc')
parser.feed('abcabc')

for inst in ds:
    parser.feed(basic_program_normalize(inst['lird']))

In [221]:
grammar = Grammar(parser.tree)

In [222]:
def delete_redundancy(grammar):
    terminals = {}
    for k, v in grammar.items():
        flag = True
        for vv in v:
            if not isinstance(vv, str):
                flag = False
                break
        if flag:
            terminals.update({k:" ".join(v)})
    
    for k in terminals.keys():
        del grammar[k]
    
    grammar_ = {}
    for k, v in grammar.items():
        grammar_[k] = [terminals.get(vv, vv) for vv in v]
    return grammar_

In [228]:
print(len(grammar))
grammar = delete_redundancy(grammar)
print(len(grammar))

161
71

In [229]:
grammar

{Production(0): ['select distinct',
  'count ( table . paperid ) from alias where',
  'table . year = year0 and table . venuename = " venuename0',
  '" \\; select distinct table . paperid , table . year from alias where table . keyphrasename',
  'in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . paperid , table . year having count ( distinct table . keyphrasename ) > 1 order by table . year asc \\; select distinct',
  'count ( distinct table . paperid ) from alias where table .',
  'datasetname like " datasetname0',
  '" \\; select distinct table . paperid , table . year from alias where table . keyphrasename',
  '= " keyphrasename0 " order by table . year desc',
  '\\; select distinct table . paperid from alias where',
  'table . year = year0 and table . venuename = " venuename0',
  '" \\; select distinct table . authorid from alias where',
  'table . venuename = " venuename0 " \\; select distinct',
  'count ( table . paperid ) from alias where',
  'table . venuename = " venuename0 " \\; select distinct',
  'table . paperid from alias where table . authorname = " authorname0 " and',
  'table . authorname = " authorname1 " \\; select distinct table .',
  'year',
  'from alias where table . keyphrasename = " keyphrasename0 "',
  'group by',
  'table . year',
  'order by table . year asc \\; select distinct',
  'table . paperid from alias where table . authorname = " authorname0 " and',
  'table . year = year0',
  '\\; select distinct table . paperid from alias where',
  'table . authorname = " authorname0 " and',
  'table . authorname = " authorname1 " \\; select distinct table .',
  'paperid from alias where table . authorname = " authorname0 "',
  '\\; select distinct table . venueid from alias where table . keyphrasename = " keyphrasename0 "',
  Production(22),
  '\\; select distinct table . citedpaperid , count ( table . citedpaperid ) from alias where table . keyphrasename = " keyphrasename0 " group by table . citedpaperid order by count ( table . citedpaperid ) desc \\; select distinct table .',
  'datasetid from alias where table . authorname = " authorname0 "',
  Production(25),
  Production(26),
  '\\; select distinct table . authorid',
  'from alias where table . authorname = " authorname0 " \\; select distinct table .',
  'authorname ,',
  'count ( table . paperid ) from alias where',
  'table . authorname in ( " authorname0 " , " authorname1 " ) group by',
  'table . authorname',
  'order by count ( table . paperid ) desc \\; select distinct',
  'count ( table . paperid ) ,',
  'table . keyphraseid',
  Production(35),
  'group by',
  'table . keyphraseid',
  Production(36),
  'table . year >= year ( curdate ( ) ) -',
  'misc0 \\; select distinct',
  'count ( table . citedpaperid ) from alias where',
  'table . authorname = " authorname0 "',
  '\\; select distinct count ( table . paperid ) , table .',
  'authorid from alias where',
  'table . keyphrasename = " keyphrasename0 " group by',
  'table . authorid',
  Production(36),
  'table . authorname = " authorname1 " \\; select distinct table .',
  'paperid from alias where table . keyphrasename = " keyphrasename0 "',
  '\\; select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 "',
  'and table . venuename = " venuename0 " \\; select distinct table . paperid',
  Production(35),
  Production(48),
  'table . authorname = " authorname1 " \\; select distinct table .',
  'citingpaperid from alias where table . paperid = table . citedpaperid group by table . citingpaperid having count ( distinct table . citedpaperid )',
  '>=',
  'misc0 \\; select distinct',
  'count ( table . paperid )',
  'from alias where table . authorname = " authorname0 "',
  'and table . venuename = " venuename0 " \\; select distinct table . paperid',
  'from alias where table . authorname = " authorname0 " order by table . year desc \\; select distinct',
  'count ( table . paperid )',
  'from alias where table . keyphrasename = " keyphrasename0 "',
  Production(53),
  '\\; select distinct table . venueid from alias where table . keyphrasename = " keyphrasename0 "',
  '\\; select distinct table . citedpaperid , count ( table . citedpaperid ) from alias where table . keyphrasename = " keyphrasename0 " group by table . citedpaperid order by count ( table . citedpaperid ) desc \\; select distinct table .',
  'year , table . paperid from alias where',
  'table . authorname in ( " authorname0 " , " authorname1 " ) group by',
  'table . paperid',
  'having count ( distinct table . authorid ) = 2',
  'order by table . year desc \\; select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 "',
  Production(53),
  Production(26),
  '\\; select distinct',
  Production(59),
  'and',
  'table . keyphrasename = " keyphrasename0 " \\; select distinct table .',
  'datasetid from alias where table . authorname = " authorname0 "',
  '\\; select distinct table . journalid from alias where table . year = year0 group by table . journalid',
  Production(25),
  Production(22),
  'and table . venuename',
  'in ( " venuename0 " , " venuename1 " )',
  '\\; select distinct table . authorid from alias where',
  'table . venuename = " venuename0 " \\; select distinct',
  'table . venueid',
  'from alias where table . authorname = " authorname0 "',
  '\\; select distinct count ( table . paperid ) , table .',
  'year from alias where',
  'table . venuename = " venuename0 " group by table .',
  'year',
  'order by count ( table . paperid ) desc \\; select distinct',
  'table . paperid from alias where',
  'table . authorname = " authorname0 "',
  'order by table . year desc \\; select distinct',
  'count ( table . citingpaperid )',
  ', table . authorid',
  'from alias where table . authorname = " authorname0 " group by table .',
  'authorid order by',
  'count ( table . citingpaperid ) desc',
  '\\; select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 "',
  'and',
  'table . year = year0 and table . venuename = " venuename0 " \\; select distinct',
  'count ( table . citedpaperid )',
  ', table . year',
  'from alias where table . authorname = " authorname0 " group by table .',
  'year',
  '\\; select distinct',
  'count ( table . citedpaperid )',
  'from alias where table . authorname = " authorname0 " \\; select distinct table .',
  'keyphrasename , table . year',
  'from alias where table . authorname = " authorname0 " order by table . year desc \\; select distinct',
  Production(59),
  '\\; select distinct table .',
  'year from alias where',
  'table . authorname = " authorname0 "',
  'order by table . year',
  '\\; select distinct',
  'count ( distinct table . paperid ) from alias where table . authorname',
  'lt> " authorname0 "',
  'and table . year > year0',
  'and',
  'table . paperid',
  'in ( select',
  'table . paperid from alias where table . authorname',
  'like " authorname0 "',
  ')',
  '\\; select distinct table . paperid from alias where table .',
  'datasetname = " datasetname0 " \\; select distinct',
  Production(89),
  'table . paperid from alias where table . keyphrasename = " keyphrasename0 "',
  '\\; select distinct',
  Production(89),
  'table . journalid',
  ', table . venueid',
  'from alias where table . authorname = " authorname0 " \\; select distinct',
  'count ( distinct table . citingpaperid )',
  ', table . paperid from alias where',
  'table . year = year0 and table . venuename = " venuename0',
  '" group by table . paperid order by count ( distinct table . citingpaperid )',
  'desc \\; select distinct table .',
  'datasetid from alias where table . keyphrasename = " keyphrasename0 "',
  '\\; select distinct table . paperid from alias where table . authorname = " authorname0 "',
  'order by table . year desc \\; select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 "',
  'and table . year = year0 \\; select distinct',
  'count ( table . paperid ) from alias where',
  'table . keyphrasename = " keyphrasename0 "',
  'and table . year = year0 \\; select distinct',
  'count ( table . paperid ) , table . authorid from alias where table . keyphrasename = " keyphrasename0 "',
  'and table . year = year0',
  'group by table .',
  'authorid order by count ( table . paperid )',
  'desc \\; select distinct table . paperid',
  ', table . year from alias where table . keyphrasename',
  'in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . paperid , table . year having count ( distinct table . keyphrasename ) > 1 order by table . year asc \\; select distinct',
  'count ( table . citedpaperid )',
  'from alias where table . authorname = " authorname0 " \\; select distinct table .',
  'datasetid',
  ', table . year from alias where table . keyphrasename = " keyphrasename0 "',
  'order by table . year asc \\; select distinct',
  'table . citingpaperid from alias where',
  'table . keyphrasename = " keyphrasename0 "',
  'and table . venuename = " venuename0',
  '" \\; select distinct table . authorid from alias where',
  'table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " )',
  'and table . year > year0',
  'group by table . authorid',
  '\\; select distinct table . authorid from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . authorid having count ( distinct table . keyphrasename ) > 1',
  '\\; select distinct table . authorid from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . authorid having count ( distinct table . keyphrasename ) > 1',
  Production(117),
  '" \\; select distinct table . paperid from alias where table .',
  Production(119),
  'table . keyphrasename = " keyphrasename0 " \\; select distinct table .',
  'authorname ,',
  'count ( table . citingpaperid ) from alias where table .',
  'authorid',
  '=',
  'table . authorid',
  'group by table .',
  'authorname',
  'order by',
  'count ( table . citingpaperid ) desc',
  '\\; select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \\; select distinct',
  'count ( table . citingpaperid ) from alias where table .',
  'authorname = " authorname0 "',
  'and table . authorname = " authorname1 " \\; select distinct table . paperid from alias where table .',
  'venuename = " venuename0',
  '" \\; select distinct',
  Production(127),
  Production(117),
  '" \\; select distinct table .',
  'citingpaperid from alias where table . venuename = " venuename0 " group by table . citingpaperid having count ( distinct table . citedpaperid ) lt',
  'misc0 \\; select distinct',
  'count ( 1 )',
  ', table . authorid',
  'from alias where table . authorname = " authorname0 "',
  'group by table . authorid order by count ( 1 )',
  'desc \\; select distinct table . paperid',
  'from alias where table . year',
  'lt>',
  'year0',
  '\\; select distinct table . authorid from alias where',
  'table . authorname = " authorname0 "',
  '\\; select distinct table . journalid from alias where table . year = year0 group by table . journalid',
  '\\; select distinct table . authorid from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . authorid having count ( distinct table . keyphrasename ) > 1',
  '\\; select distinct table .',
  'keyphraseid',
  'from alias where table . authorname = " authorname0 " \\; select distinct table .',
  'citedpaperid , count ( table . citedpaperid )',
  'from alias where table . authorname = " authorname0 " group by table .',
  'citedpaperid order by count ( table . citedpaperid )',
  'desc \\; select distinct table . paperid',
  'from alias where table . keyphrasename = " keyphrasename0 "',
  'and table . venuename = " venuename0',
  '" \\; select distinct table . paperid from alias where table .',
  'keyphrasename = " keyphrasename0 " and table . venuename = " venuename0 " \\; select distinct table .',
  'journalid from alias where table . authorname = " authorname0 "',
  '\\; select distinct table . paperid from alias where table .',
  'keyphrasename = " keyphrasename0 " and table . venuename = " venuename0 " \\; select distinct table .',
  'authorname from alias where table . keyphrasename like " keyphrasename0 "',
  '\\; select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \\; select distinct',
  Production(141),
  'table . paperid from alias where table . authorname = " authorname0 " and',
  'table . year = year0',
  '\\; select distinct table . authorid from alias where',
  'table . venuename in ( " venuename0 " , " venuename1 " ) group by table . authorid',
  '\\; select distinct table . paperid from alias where table . authorname = " authorname0 "',
  'and table . venuename = " venuename0 " \\; select distinct',
  Production(145),
  '" \\; select distinct table .',
  'venueid',
  'from alias where table . authorname = " authorname0 "',
  'and table . year = year0 \\; select distinct',
  'table . paperid from alias where table .',
  Production(119),
  'table . keyphrasename = " keyphrasename0 " \\; select distinct',
  'table . paperid from alias where table .',
  'datasetname = " datasetname0 " and table . keyphrasename = " keyphrasename0 " and table . year = year0',
  'and table . venuename = " venuename0 " \\; select distinct',
  'count ( table . keyphraseid )',
  ', table . keyphraseid',
  'from alias where table . authorname = " authorname0 " group by table .',
  'keyphraseid order by',
  'count ( table . keyphraseid )',
  'desc \\; select distinct',
  'count ( distinct table . paperid )',
  ', table . authorid from alias where table . venuename = " venuename0 " group by table . authorid order by',
  'count ( distinct table . paperid )',
  'desc \\; select distinct',
  Production(141),
  'count ( 1 )',
  'from alias where table . authorname = " authorname0 "',
  'and table . authorname = " authorname1 " \\; select distinct table . paperid from alias where table .',
  'authorname = " authorname0 "',
  'and table . keyphrasename = " keyphrasename0 "',
  'and table . venuename = " venuename0 " \\; select distinct',
  'count ( table . paperid ) from alias where table . keyphrasename = " keyphrasename0 "',
  'and table . year = year0 \\; select distinct',
  'table . authorid',
  'from alias where table . year = year0 and table . venuename = " venuename0',
  '" \\; select distinct table . paperid from alias where table .',
  'datasetname = " datasetname0 " and table . keyphrasename = " keyphrasename0 " and table . year = year0',
  'and table . venuename = " venuename0 " \\; select',
  'count ( table . paperid )',
  'from alias where table . authorname = " authorname0 "',
  '\\; select distinct count ( table . paperid )',
  ', table . year from alias where table . keyphrasename = " keyphrasename0 "',
  'group by table . year',
  'order by table . year desc \\; select distinct',
  Production(163),
  'table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \\; select distinct',
  'count ( table . paperid ) from alias where table . keyphrasename = " keyphrasename0 "',
  'and table . year',
  '>=',
  'year0 \\; select distinct',
  Production(167),
  'title',
  'from alias where table . authorname',
  'like " authorname0 "',
  'and table . keyphrasename = " keyphrasename0 "',
  Production(169),
  Production(170),
  Production(171),
  'table . paperid from alias where table . authorname = " authorname0 " and',
  'table . year = year0',
  '\\; select distinct table . paperid from alias where table . authorname = " authorname0 "',
  Production(174),
  Production(174),
  Production(175),
  '\\; select distinct table . authorid from alias where table . venuename in ( " venuename0 " , " venuename1 " ) group by table . authorid',
  '\\; select distinct table . keyphraseid from alias where table . authorname = " authorname0 "',
  'and table . year = year0',
  '\\; select distinct count ( distinct table . citingpaperid )',
  ', table . authorid from alias where table . venuename = " venuename0 " group by table . authorid order by',
  'count ( distinct table . citingpaperid ) desc \\; select distinct table . authorid',
  'from alias where table . venuename = " venuename0',
  '" \\; select distinct table . paperid from alias where table . datasetname = " datasetname0 "',
  '\\; select distinct table . paperid from alias where table . authorname = " authorname0 "',
  'and',
  'table . authorname = " authorname1 " \\; select distinct',
  'count ( distinct table . paperid ) from alias where table . authorname = " authorname0 "',
  '\\; select distinct table . authorid from alias where table . authorname = " authorname0 " \\; select distinct table .',
  'datasetid from alias where table . authorname = " authorname0 "',
  '\\; select distinct count ( table . citedpaperid )',
  ', table . venuename from alias where table . venuename in ( " venuename0 " , " venuename1 " ) group by table . venuename',
  '\\; select distinct table . authorid from alias where table . venuename in ( " venuename0 " , " venuename1 " ) group by table . authorid',
  'having count ( distinct table . venueid ) = 2',
  Production(175),
  '\\; select distinct table . paperid',
  'from alias where table . keyphrasename = " keyphrasename0 "',
  'and table . year = year0 and table . venuename = " venuename0 " \\; select distinct',
  'table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \\; select distinct',
  'count ( distinct table . paperid ) from alias where table . authorname = " authorname0 "',
  '\\; select distinct table . paperid',
  'from alias where table . keyphrasename',
  'in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . paperid having count ( distinct table . keyphraseid ) = 1',
  Production(169),
  'count ( distinct table . paperid )',
  ', table . authorid',
  'from alias where table . venuename = " venuename0',
  '" group by table . authorid order by count ( distinct table . paperid ) desc \\; select distinct',
  'count ( table . paperid ) , table . keyphraseid',
  'from alias where table . year = year0 and table . venuename = " venuename0',
  '" group by table .',
  'keyphraseid order by count ( table . paperid ) desc',
  '\\; select distinct count ( table . paperid )',
  ', table . paperid from alias where table .',
  'datasetname = " datasetname0 " group by table . paperid',
  'order by count ( table . paperid ) desc',
  '\\; select distinct table . paperid from alias where table . authorname = " authorname0 "',
  Production(171),
  'table . paperid from alias where table . keyphrasename = " keyphrasename0 "',
  'and table . year = year0 and table . venuename = " venuename0 " \\; select distinct',
  'count ( distinct table . paperid ) from alias where table . keyphrasename = " keyphrasename0 "',
  '\\; select distinct table . paperid from alias where table . authorname = " authorname0 "',
  '\\; select distinct',
  'count ( distinct table . paperid ) from alias where table . authorname = " authorname0 "',
  '\\; select distinct table . venueid from alias where table .',
  'datasetname = " datasetname0 " \\; select distinct table .',
  'authorname ,',
  'table . paperid from alias where table .',
  'authorname lt> " authorname0 "',
  'and table . keyphrasename = " keyphrasename0 "',
  '\\; select distinct table . venueid from alias where table .',
  'authorname = " authorname0 "',
  '\\; select distinct table . paperid from alias where table .',
  'datasetname = " datasetname0 " and table .',
  'title = "',
  'title0 " and table .',
  'year = year0 and table . venuename = " venuename0',
  '" \\; select distinct table . paperid from alias where table .',
  'year = year0 and table . venuename = " venuename0',

In [200]:
len(grammar_)

465

In [140]:
grammar = parse([inst['lird'] for inst in ds])

{Production(0): ['WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&B4R&!%jcR&8fDXhX4XdX3JbR&B4R&!UpDtR&831rubR&!5H',
  'WtpDtR&B3%jcR&7iXvXH',
  'WtR&B4R&!%jcR&8VXhXubR&!OH',
  'WtR&B%jcR&!Ve9R&#VXIXH',
  'WtR&o%jcR&#VXIXH',
  'WtpDR&B3%jcR&#VXIXH',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtR&!%jcR&8VXhXJbR&!ubR&!5H',
  'WtR&B%jcR&2VXZX9R&!VeH',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtR&B%jcR&2VXZXH',
  'WtR&l%jcR&8VXhXH',
  'WtR&B%jcR&2VXZX9R&!VeH',
  'WtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OH',
  'WtR&F%jcR&2VXZXH',
  'WtR&B%jcR&2VXZXH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  'WtR&o%jcR&2VXZXH',
  "WtR&24pDR&B3%jcR&2fDXZX4X'X3JbR&2ubpDR&B3OH",
  'WtpDR&B34R&K%jcR&!Ve9R&#VXIXJbR&KubpDR&B3OH',
  'WtR&B%jcR&2VXZX9R&!x!D6D33mLH',
  Production(1),
  Production(2),
  'WtR&B%jcR&8VXhX9R&#VXIXH',
  'WtR&B%jcR&!Ve9R&#VXIXH',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtR&Y%jcR&BVR&aJbR&YUpDtR&a3xLH',
  'WtpDR&B3%jcR&2VXZX9R&#VXIXH',
  'WtR&B%jcR&2VXZXubR&!OH',
  'WtpDR&B3%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtR&l%jcR&8VXhXH',
  'WtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OH',
  "WtR&!4R&B%jcR&2fDXZX4X'X3JbR&BUpDtR&o3VwubR&!OH",
  'WtR&B%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  'WtpDtR&B3%jcR&2VXZX9R&8VXhXH',
  'WtR&F%jcR&2VXZXH',
  'WtR&(%jcR&!VeJbR&(H',
  'WtR&B%jcR&2VXZXH',
  'WtR&B%jcR&2VXZX9R&!Ve9R&#fDXIX4X$X3H',
  'WtR&o%jcR&#VXIXH',
  'WtR&l%jcR&2VXZXH',
  'WtpDR&B34R&!%jcR&#VXIXJbR&!ubpDR&B3OH',
  'WtR&B%jcR&2VXZXubR&!OH',
  'WtpDR&Y34R&o%jcR&2VXZXJbR&oubpDR&Y3OH',
  'WtR&B%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtpDR&a34R&!%jcR&2VXZXJbR&!H',
  'WtpDR&a3%jcR&2VXZXH',
  'WtR&84R&!%jcR&2VXZXubR&!OH',
  'WtpDtR&B3%jcR&2VXZXH',
  'WtR&!%jcR&2VXZXubR&!H',
  'WtpDtR&B3%jcR&2qXZX9R&!1e9R&BfDWR&B%jcR&2iXZX3H',
  'WtR&B%jcR&7VXvXH',
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&B%jcR&8VXhXH',
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&(4R&l%jcR&2VXZXH',
  'WtpDtR&Y34R&B%jcR&!Ve9R&#VXIXJbR&BubpDtR&Y3OH',
  'WtR&F%jcR&8VXhXH',
  'WtR&B%jcR&2VXZXubR&!OH',
  'WtR&B%jcR&8VXhX9R&!VeH',
  'WtpDR&B3%jcR&8VXhX9R&!VeH',
  'WtpDR&B34R&o%jcR&8VXhX9R&!VeJbR&oubpDR&B3OH',
  'WtR&B4R&!%jcR&8fDXhX4XdX3JbR&B4R&!UpDtR&831rubR&!5H',
  'WtpDR&a3%jcR&2VXZXH',
  'WtR&F4R&!%jcR&8VXhXubR&!5H',
  'WtR&Y%jcR&8VXhX9R&#VXIXH',
  'WtR&o%jcR&8fDXhX4XdX39R&!1eJbR&oH',
  'WtR&o%jcR&8fDXhX4XdX3JbR&oUpDtR&831rH',
  'WtR&o%jcR&8fDXhX4XdX3JbR&oUpDtR&831rH',
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  Production(3),
  'WtR&24pDR&Y3%jcR&oVR&oJbR&2ubpDR&Y3OH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  "WtpDR&Y3%jcR&2VXZX9R&2VX'XH",
  'WtR&B%jcR&#VXIXH',
  'WtpDR&B34R&o%jcR&8VXhXJbR&oubpDR&B3OH',
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&Y%jcR&#VXIXJbR&YUpDtR&a3zLH',
  'WtpDr34R&o%jcR&2VXZXJbR&oubpDr3OH',
  'WtR&B%jcR&!qeH',
  'WtR&o%jcR&2VXZXH',
  'WtR&(%jcR&!VeJbR&(H',
  'WtR&o%jcR&8fDXhX4XdX3JbR&oUpDtR&831rH',
  'WtR&K%jcR&2VXZXH',
  'WtR&a4pDR&a3%jcR&2VXZXJbR&aubpDR&a3OH',
  'WtR&B%jcR&8VXhX9R&#VXIXH',
  'WtR&B%jcR&8VXhX9R&#VXIXH',
  'WtR&(%jcR&2VXZXH',
  'WtR&B%jcR&8VXhX9R&#VXIXH',
  'WtR&2%jcR&8iXhXH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  'WtR&B%jcR&2VXZX9R&!VeH',
  'WtR&o%jcR&#fDXIX4X$X3JbR&oH',
  'WtR&B%jcR&2VXZX9R&#VXIXH',
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&l%jcR&2VXZX9R&!VeH',
  Production(3),
  'WtR&B%jcR&7VXvX9R&8VXhX9R&!Ve9R&#VXIXH',
  'WtpDR&K34R&K%jcR&2VXZXJbR&KubpDR&K3OH',
  'WtpDtR&B34R&o%jcR&#VXIXJbR&oubpDtR&B3OH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  "WtpDr3%jcR&2VXZX9R&2VX'XH",
  'WtR&B%jcR&2VXZX9R&8VXhX9R&#VXIXH',
  'WtpDR&B3%jcR&8VXhX9R&!VeH',
  'WtR&o%jcR&!Ve9R&#VXIXH',
  'WtR&B%jcR&7VXvX9R&8VXhX9R&!Ve9R&#VXIXH',
  'WpDR&B3%jcR&2VXZXH',
  'WtpDR&B34R&!%jcR&8VXhXJbR&!ubR&!OH',
  'WtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OH',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtpDR&B3%jcR&8VXhX9R&!xeH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  'WtR&M%jcR&2iXZX9R&8VXhXH',
  'WtR&B4R&!%jcR&8VXhXubR&!OH',
  'WtR&F%jcR&8VXhXH',
  'WtR&B%jcR&!Ve9R&#VXIXH',
  'WtR&B%jcR&2VXZX9R&!VeH',
  'WtR&B%jcR&2VXZXH',
  'WtR&B%jcR&2VXZX9R&!VeH',
  'WtR&B%jcR&2VXZX9R&!VeH',
  'WtpDtR&B3%jcR&8VXhXH',
  'WtR&o%jcR&#fDXIX4X$X3JbR&oH',
  'WtR&K%jcR&2VXZX9R&!VeH',
  'WtpDtR&Y34R&o%jcR&#VXIXJbR&oubpDtR&Y3OH',
  'WtR&o%jcR&#VXIXH',
  'WtR&B%jcR&7VXvXH',
  Production(4),
  'WtR&o%jcR&2VXZXH',
  'WtR&F%jcR&2VXZXH',
  'WtpDR&a34R&#%jcR&#fDXIX4X$X3JbR&#H',
  'WtR&o%jcR&#fDXIX4X$X3JbR&oUpDtR&l3VwH',
  'WtpDtR&B3%jcR&8VXhXH',
  'WtR&B%jcR&8VXhX9R&!Ve9R&#VXIXH',
  Production(4),
  'WtR&B%jcR&8fDXhX4XdX3JbR&BUpDtR&K3VrH',
  'WtR&B4R&!%jcR&8VXhXubR&!OH',
  'WtpDtR&B34R&o%jcR&#VXIXJbR&oubpDtR&B3OH',
  'WtpDR&B34R&K%jcR&!Ve9R&#VXIXJbR&KubpDR&B3OH',
  'WtpDR&B34R&B%jcR&7VXvXJbR&BubpDR&B3OH',
  Production(5),
  'WtR&B%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtpDtR&B3%jcR&8VXhXH',
  'WtR&B%jcR&2VXZXH',
  'WtpDtR&B3%jcR&2VXZXH',
  'WtR&l%jcR&7VXvXH',
  'WtR&24R&B%jcR&2qXZX9R&8VXhXH',
  'WtR&l%jcR&2VXZXH',
  'WtR&B%jcR&7VXvX9R&MVXEX9R&!Ve9R&#VXIXH',
  'WtR&B%jcR&!Ve9R&#VXIXH',
  'WtpDR&B3%jcR&NVX0X9R&!VeH',
  'WtR&B%jcR&2VXZX9R&!x!D6D33mLH',
  'WtpDtR&B3%jcR&7iXvXH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  'WtR&!%jcR&8VXhXJbR&!ubR&!5H',
  'WtpDR&a3%jcR&2VXZXH',
  "WtpDr3%jcR&2VXZX9R&2VX'XH",
  'WtR&B%jcR&2VXZXH',
  'WtR&K%jcR&2VXZXH',
  'WtpDr34R&o%jcR&BVR&BJbR&oubpDr3OH',
  'WtR&K%jcR&2VXZXH',
  'WtR&B%jcR&8VXhXH',
  'WtR&o%jcR&2VXZXH',
  'WtR&B%jcR&8VXhX9R&#VXIXH',
  'WtR&a4pDR&a3%jcR&2VXZXJbR&aubpDR&a3OH',
  'WtR&K%jcR&2VXZXH',
  'WtR&B%jcR&!VDW"DR&!3%j3H',
  'WtR&B4R&!%jcR&2VXZX9R&!VDWQDR&!3%jcR&2VXZX3H',
  'WtpDtR&Y34R&o%jcR&#fDXIX4X$X3JbR&oUpDtR&l3VwubpDtR&Y3OH',
  'WtR&K%jcR&2VXZXH',
  'WtR&B%jcR&7VXvX9R&8VXhX9R&!Ve9R&#VXIXH',
  'WtpDR&B34R&l%jcR&8VXhXJbR&lubpDR&B3OH',
  'WtpDR&B3%jcR&#VXIXH',
  'WtR&24R&B%jcR&2qXZX9R&8VXhXH',
  'WtpDR&B3%jcR&2VXZX9R&#VXIXH',
  'WtR&B4R&!%jcR&2VXZXubR&!OsyH',
  'WtR&l%jcR&2VXZXH',
  'WtR&(%jcR&2VXZXJbR&(H',
  'WtR&B4R&!%jcR&8VXhXubR&!OH',
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&B%jcR&8VXhX9R&!zeH',
  'WtR&B%jcR&8fDXhX4XdX3JbR&BUpDtR&K3VrH',
  'WtR&B%jcR&7VXvXH',
  'WtR&o%jcR&#fDXIX4X$X3JbR&oUpDtR&l3VwH',
  'WtR&a4pDR&a3%jcR&2VXZXJbR&aubpDR&a3OH',
  'WtR&B%jcR&8VXhXH',
  'WtpDR&B3%jcR&2VXZX9R&#VXIXH',
  'WtpDR&B34R&o%jcR&8VXhXJbR&oubpDR&B3OH',
  Production(6),
  'WtR&B%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtpDR&B3%jcR&2VXZX9R&!G!D6D33mLH',
  'WtR&2%jcR&8iXhXH',
  'WtR&B%jcR&2VXZX9R&!VeH',
  'WtpDtR&Y34R&B%jcR&!Ve9R&#VXIXJbR&BubpDtR&Y3OH',
  'WtR&a4pDR&a3%jcR&!Ve9R&#VXIXJbR&aubpDR&a3OH',
  "WtpDR&Y3%jcR&2VXZX9R&2VX'XH",
  'WtR&B4R&!%jcR&8fDXhX4XdX3JbR&B4R&!UpDtR&831rubR&!5H',
  'WtR&Y%jcR&BVR&aJbR&YUpDtR&a31LH',
  'WtpDR&B34R&o%jcR&8VXhXJbR&oubpDR&B3OH',
  'WtR&B%jcR&8VXhX9R&!VeH',
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OH',
  Production(7),
  'WtR&B%jcR&8VXhX9R&!VeJbR&BUpDtR&831rH',
  'WtR&B%jcR&2VXZXH',
  'WtR&B%jcR&2VXZX9R&!Ve9R&#VXIXH',
  'WtR&F%jcR&8VXhXH',
  'WtR&F%jcR&2VXZXH',
  'WtR&a4pDR&Y3%jcR&#VXIXJbR&aubpDR&Y3OH',
  'WtpDR&B34R&o%jcR&!Ve9R&#VXIXJbR&oubpDR&B3OH',
  'WtR&B%jcR&#VXIXH',
  'WtR&a4pDR&Y3%jcR&8VXhXJbR&aubpDR&Y3OH',
  'WtR&B%jcR&8VXhXH',
  'WtpDr34R&l%jcR&2VXZXJbR&lubpDr3OH',
  'WtR&84ADR&P3%jcR&2VXZXJbR&8ubADR&P3OH',
  'WtpDR&B3%jcR&7VXvX9R&8VXhXH',
  'WtR&(%jcR&8VXhXJbR&(H',
  'WtpDR&B3%jcR&2VXZX9R&!VeH',
  'WtR&B%jcR&2VXZX9R&!VeH',
  'WtR&B%jcR&7fDXvX4XSX3JbR&BH',
  'WtR&B%jcR&8fDXhX4XdX3JbR&BUpDtR&K3VrH',
  Production(7),
  'WtR&K%jcR&2VXZXH',
  'WtpDR&B34R&!%jcR&2VXZXJbR&!ubR&!H',
  'WtR&F%jcR&#VXIXH',
  'WtR&F%jcR&8VXhXH',
  'WtR&B%jcR&8VXhXH',
  'WtR&l4R&!%jcR&2VXZXJbR&l4R&!ubR&!OH',
  'WtR&B%jcR&MiXEX9R&!Ve9R&#VXIXH',
  "WtpDr3%jcR&2VXZX9R&2VX'XH",
  'WtpDR&B34R&K%jcR&!Ve9R&#VXIXJbR&KubpDR&B3OH',
  'WtR&B%jcR&2VXZXH',
  'WtpDtR&B34R&#%jcR&#fDXIX4X$X3JbR&#ubpDtR&B3OH',
  'WtR&a4pDR&Y3%jcR&8VXhXJbR&aubpDR&Y3OH',
  'WtR&o%jcR&!Ve9R&#VXIXH',
  'WtpDR&B3%jcR&2VXZX9R&!VeH',
  'WtR&o%jcR&8fDXhX4XdX39R&!1eJbR&oH',
  'WtR&B%jcR&8VXhXH',
  'WtR&l%jcR&MVXEXH',
  'WtpDR&B34R&K%jcR&!Ve9R&#VXIXJbR&KubpDR&B3OH',
  'WtpDR&B34R&K%jcR&!Ve9R&#VXIXJbR&KubpDR&B3OH',
  'WtpDR&B34R&o%jcR&#VXIXJbR&oH',
  'WtR&B%jcR&7fDXvX4XSX3JbR&BH',
  'WtpDR&B34R&K%jcR&!Ve9R&#VXIXJbR&KubpDR&B3OH',
  'WtR&a4pDrj%jcR&2VXZXJbR&aubCOH',
  'WtR&Y%jcR&#VXIXJbR&YUpDtR&a3zLH',
  'WtR&(%jcR&2VXZXH',
  'WtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OH',
  'WtpDtR&o3%jcR&2qXZX9R&BfDWR&B%jcR&2VXZX3H',
  'WtpDtR&B3%jcR&2VXZXH',
  'WtR&o%jcR&2VXZXH',
  'WtpDR&B3%jcR&#VXIXH',
  'WtR&!%jcR&2VXZXJbR&!H',
  'WtR&B%jcR&8VXhXH',
  'WtR&84R&!%jcR&2VXZXubR&!OH',
  'WtR&B%jcR&2VXZXH',
  'WtR&Y%jcR&#VXIXJbR&YUpDtR&a3zLH',
  'WtR&!%jcR&2VXZX9R&8VXhXH',
  'WtR&o%jcR&!VeH',
  'WtpDtR&Y34R&K4R&B%jcR&!Ve9R&#VXIXJbR&B4R&KubpDtR&Y3OH',
  'WtR&B%jcR&!Ve9R&#VXIXH',
  'WtR&B%jcR&8VXhXH',
  'WtR&(4R&l%jcR&2VXZXH',
  'WtR&B%jcR&8VXhXH',
  'WtR&!%jcR&8VXhXJbR&!ubR&!5H',
  'WtR&B%jcR&#VXIXH',
  'WtpDR&B34R&o%jcR&!Ve9R&#VXIXJbR&oubpDR&B3OH',
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  Production(1),
  'WtR&!%jcR&2VXZX9R&8VXhXH',
  'WtR&M4R&!%jcR&MVXEXH',
  'WtR&B4R&!%jcR&2VXZX9R&!VDWQDR&!3%jcR&2VXZX3H',
  'WtR&o%jcR&!Ve9R&#VXIXH',
  "WtpDr3%jcR&2VXZX9R&2VX'XH",
  'WtpDR&B3%jcR&7VXvX9R&#VXIXH',
  'WtR&B4R&o%jcR&#VXIXH',
  'WtR&B4R&!%jcR&8VXhXubR&!OH',
  "WtpDr3%jcR&2VXZX9R&2VX'XH",
  'WtR&B%jcR&!Ve9R&#VXIXH',
  'WtR&B%jcR&8VXhX9R&#VXIXH',
  "WtpDr3%jcR&2VXZX9R&2VX'XH",
  'WtpDR&B3%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtR&K%jcR&2VXZX9R&#VXIXH',
  'WtpDtR&B34R&!%jcR&2iXZXJbR&!ubpDtR&B3OH',
  'WtR&B4R&!%jcR&8VXhXubR&!OH',
  'WtpDR&Y34R&8%jcg&KVR&KJbR&8ubpDR&Y3OH',
  'WtR&B%jcR&8VXhXH',
  'WtR&B%jcR&!VeH',
  'WtpDtR&B34R&o%jcR&#VXIXJbR&oubpDtR&B3OH',
  'WtpDr34R&F%jcR&8VXhXJbR&FubpDr3OH',
  'WtpDR&B34R&o%jcR&!Ve9R&#VXIXJbR&oubpDR&B3OH',
  'WtR&B%jcR&2VXZXH',
  'WtR&B%jcR&8VXhX9R&(xTH',
  'WtpDtR&Y34R&o%jcR&#VXIXJbR&oubpDtR&Y3OH',
  'WtR&o%jcR&!VeH',
  Production(6),
  'WtR&o%jcR&2VXZXH',
  Production(8),
  'WtR&B%jcR&2VXZX9R&!VeH',
  'WtR&B%jcR&2VXZX9R&!Ve9R&#VXIXH',
  'WtR&B%jcR&!Ve9R&#VXnXH',
  'WtpDR&B34R&o%jcR&!Ve9R&#VXIXJbR&oubpDR&B3OH',
  'WtR&B4R&!%jcR&8VXhXubR&!OH',
  'WtR&B%jcR&2VXZX9R&#VXIXH',
  'WtR&l%jcR&2VXZXH',
  'WtpDR&B34R&o%jcR&8VXhX9R&!1eJbR&oubpDR&B3OH',
  'WtR&B%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtpDtR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&F%jcR&8VXhXH',
  "WtR&24pDR&B3%jcR&2fDXZX4X'X3JbR&2ubpDR&B3OH",
  "WtR&24R&a4pDR&a3%jcR&2fDXZX4X'X3JbR&a4R&2ubpDR&a3OH",
  'WtR&l%jcR&8VXhXH',
  'WtR&B%jcR&8VXhXH',
  'WtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OH',
  'WtpDtR&B3%jcR&2VXZXH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  'WtR&B%jcR&2VXZXH',
  'WtR&(%jcR&2VXZXJbR&(H',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtR&B%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtR&K%jcR&2VXZXH',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtpDR&B34R&o%jcR&2VXZX9R&!VeJbR&oH',
  'WtR&B%jcR&8VXhX9R&!1eH',
  'WtR&B%jcR&8VXhX9R&!zeH',
  'WtpDR&B3%jcR&#VXIXH',
  'WtR&o%jcR&!Ve9R&#VXIXH',
  'WtR&a4pDR&a3%jcR&2VXZXJbR&aubpDR&a3OH',
  'WtpDR&B34R&!%jcR&#VXIXJbR&!ubpDR&B3OH',
  'WtpDtR&B3%jcR&7iXvXH',
  'WtR&o%jcR&2VXZXH',
  'WtpDR&B34R&!%jcR&2VXZXJbR&!H',
  'WtR&K%jcR&2VXZX9R&!VeH',
  'WtR&B%jcR&2VXZX9R&!zeH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  "WtR&24R&a4pDR&a3%jcR&2fDXZX4X'X3JbR&a4R&2ubpDR&a3OH",
  'WtR&B%jcR&8VXhXH',
  'WtR&B%jcR&8VXhXH',
  'WtR&k%jcR&2VXZXH',
  'WtR&F%jcR&8VXhXH',
  'WtpDtR&B34R&o%jcR&!1e9R&#fDXIX4X$X3JbR&oubpDR&B3OH',
  'WtR&l%jcR&2VXZX9R&!VeH',
  'WtR&B%jcR&8VXhX9R&!zeH',
  'Wt"DR&!3%jcR&2VXZXH',
  'WtR&B%jcR&2VXZX9R&8VXhX9R&!Ve9R&#VXIXH',
  'WtR&K%jcR&#VXIXH',
  Production(9),
  "WtR&24R&a4pDR&a3%jcR&2fDXZX4X'X3JbR&a4R&2ubpDR&a3OH",
  Production(9),
  'WtR&B%jcR&8VXhXH',
  'WtpDtR&B3%jcR&7iXvXH',
  'WtpDtR&B3%jcR&2VXZX9R&#qXIXH',
  'WtR&B%jcR&7VXvXH',
  'WtR&a4pDR&a3%jcR&2VXZXJbR&aubpDR&a3OH',
  'WtR&B%jcR&8VXhX9R&!1eH',
  'WtR&84R&!%jcR&2VXZXubR&!OH',
  'WtR&B%jcR&2VXZX9R&!VeH',
  "WtR&o%jcR&2VXZX9R&2VX'XH",
  'WtR&B%jcR&8fDXhX4XdX3JbR&BUpDtR&K3VrH',
  'WtR&B%jcR&2VXZXH',
  'WtR&a4pDR&a3%jcR&!Ve9R&#VXIXJbR&aubpDR&a3OH',
  'WtR&B4R&!%jcR&2VXZX9R&!VDWQDR&!3%jcR&2VXZX3H',
  'WtpDR&B34R&o%jcR&!Ve9R&#VXIXJbR&oubpDR&B3OH',
  'WtpDR&B3%jcR&8VXhX9R&!VeH',
  'WtpDtR&Y34R&l%jcR&8VXhXJbR&lubpDtR&Y3OH',
  Production(8),
  'WtpDtR&B3%jcR&2VXZX9R&8VXhXH',
  'WtR&B%jcR&2VXZX9R&#VXIXH',
  'WtR&B%jcR&7VXvX9R&!VeH',
  'WtR&B4R&!%jcR&8VXhXubR&!OH',
  'WtR&a4pDR&a3%jcR&!Ve9R&#VXIXJbR&aubpDR&a3OH',
  'WtR&o%jcR&2VXZXH',
  Production(5),
  'WtR&K%jcR&2VXZXH',
  'WtR&o4R&B%jcR&2VXZX9R&8VXhXH',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OH',
  'WtR&K%jcR&2VXZXH',
  'WtR&o%jcR&8VXhX9R&!VeH',
  'WtpDtR&B3%jcR&2VXZX9R&8VXhXH',
  'WtR&B%jcR&8VXhX9R&!Ve9R&#VXIXH',
  'WtpDR&a3%jcR&2VXZXH',
  "WtR&24pDR&B3%jcR&2fDXZX4X'X3JbR&2ubpDR&B3OH",
  'WtpDR&B3%jcR&!Ve9R&#VXIXH',
  'WtR&B%jcR&7VXvXJbR&BH',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtR&B%jcR&7fDXvX4XSX3JbR&BH',
  "WtR&K%jcR&2fDXZX4X'X3JbR&KUpDtR&o3VwH",
  "WtpDr3%jcR&2VXZX9R&2VX'XH",
  'WtR&!4R&B%jcR&2VXZX9R&8VXhXubR&!OH',
  'WtpDR&Y34R&o%jcR&2VXZXJbR&oubpDR&Y3OH',
  "WtR&B%jcR&2VXZX9R&2VX'XH",
  'WtR&l%jcR&2VXZX9R&!VeH',
  'WtR&B%jcR&8VXhX9R&#VXIXH',
  'WtpDR&B3%jcR&2VXZX9R&#VXIXH',
  'WtpDr34R&(%jcR&2VXZXJbR&(H',
  'WtpDR&Y3%jcR&2VXZX9R&8VXhXH',
  'WtR&B%jcR&8VXhXH',
  'WtpDR&B34R&o%jcR&!Ve9R&#VXIXJbR&oubpDR&B3OH',
  'WtpDtR&B3%jcR&2VXZXH',
  'WtR&B%jcR&8VXhX9R&!1eH',
  'WtR&!4R&B%jcR&2iXZX9R&!iXeXH',
  "WtR&K%jcR&2fDXZX4X'X3JbR&KUpDtR&o3VwH",
  Production(2),
  'WtR&B%jcR&8fDXhX4XdX3JbR&BUpDtR&K3VrH',
  'WtR&2%jcR&8iXhXH',
  'WtpDR&a3%jcR&2VXZXH',
  'WtR&F%jcR&8VXhXH',
  'WtR&B%jcR&MVXEXH',
  'WtR&!%jcR&8VXhXJbR&!ubR&!5H',
  'WtpDR&B34R&o%jcR&8VXhXJbR&oubpDR&B3OH'],
 Production(1): ['WtpDR&a3%jcR&2VXZXH',
  'WtpDR&B34R&o%jcR&8VXhXJbR&oubpDR&B3OH'],
 Production(2): ["WtR&B%jcR&2VXZX9R&2VX'XH", 'WtR&B%jcR&8VXhXH'],
 Production(3): ['WtR&B%jcR&7VXvXH', 'WtR&o4R&B%jcR&2VXZX9R&8VXhXH'],
 Production(4): ["WtR&B%jcR&2VXZX9R&2VX'XH", 'WtpDtR&B3%jcR&2VXZXH'],
 Production(5): ['WtR&B%jcR&2VXZXH', 'WtR&B%jcR&!Ve9R&#VXIXH'],
 Production(6): ['WtR&K%jcR&2VXZX9R&!VeH',
  'WtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OH'],
 Production(7): ['WtR&B%jcR&2VXZX9R&!VeH', 'WtR&B%jcR&#VXIXH'],
 Production(8): ["WtR&B%jcR&2VXZX9R&2VX'XH", 'WtpDR&a3%jcR&2VXZXH'],
 Production(9): ['WtR&B%jcR&2VXZXubR&!OH', 'WtR&o%jcR&#VXIXH']}

In [141]:
parser = Parser()
for inst in ds:
    parser.feed(t2cht(inst['lird']))

In [142]:
grammar = Grammar(parser.tree)

In [145]:
print(grammar)

0 -> 1 2 3 4 5 6 7 4 8 9 3 10 11 2 11 12 13 ! 14 15 16 17 12 18 9 19 13 20 21 22 23 24 25 26 27 28 29 2 30 31 32 33 34 35 15 34 36 37 38 39 40 41 42 43 44 36 13 45 46 47 35 48 13 49 x 38 50 51 47 52 50 14 53 21 23 54 30 55 56 57 53 26 58 59 9 60 24 61 25 22 62 63 64 11 65 51 41 66 67 ! 32 68 40 69 70 71 72 73 74 46 9 75 76 77 72 ! 58 76 28 78 52 59 79 66 40 80 58 81 82 83 9 55 84 85 86 3 87 88 89 90 58 89 91 92 93 94 95 96 97 98 99 100 57 101 102 103 101 104 105 106 107 108 109 5 76 110 F 111 17 112 103 113 10 114 83 115 116 116 117 118 119 60 29 120 o V 44 106 2 121 74 122 120 123 124 125 126 127 117 128 129 38 130 71 131 132 108 133 q e 64 40 61 116 79 K 110 134 135 136 108 137 113 118 138 139 87 138 140 122 141 142 18 64 143 100 144 145 128 l 131 101 146 119 147 146 148 144 149 150 135 151 149 152 153 154 153 152 141 130 131 124 123 155 144 156 101 44 157 118 148 158 159 131 160 111 161 162 163 164 156 165 x 166 167 M 168 86 155 169 170 171 172 18 173 174 174 175 176 177 105 178 154 179 180 181 173 9 182 183 184 185 186 187 176 188 175 189 137 190 164 183 189 191 192 169 153 71 193 194 195 157 196 197 160 198 199 200 173 171 201 190 202 173 203 183 204 205 29 146 206 155 204 123 207 208 209 210 211 212 211 213 N 214 0 215 216 207 217 37 218 219 220 167 221 222 223 224 177 225 226 B V 55 132 227 228 184 229 230 231 232 233 234 " 235 3 236 237 235 238 3 239 240 188 241 227 208 242 243 159 244 245 246 198 206 247 228 248 249 250 s y 204 251 252 253 243 201 254 255 256 205 42 143 188 257 232 258 248 127 259 257 260 261 262 263 G 264 218 31 265 207 263 266 178 267 97 268 231 269 270 120 271 272 273 77 274 275 276 49 1 218 127 207 277 160 278 279 163 146 280 281 261 282 274 207 283 284 280 230 285 185 286 120 287 288 289 290 291 281 292 207 228 225 92 293 l 294 295 4 296 297 238 298 296 299 300 208 301 302 43 91 300 303 303 304 305 306 303 307 308 160 309 310 311 312 285 229 313 309 l 77 162 146 M 314 210 315 316 317 318 319 187 320 292 321 262 280 322 114 254 323 324 204 325 317 326 289 287 o 207 304 326 286 327 j 328 C 268 112 329 218 330 331 332 o 333 82 247 B 84 334 3 319 335 336 300 307 16 293 ! 337 338 276 129 218 339 42 18 178 150 267 340 150 341 342 276 ( 92 335 337 221 281 343 253 315 344 345 346 339 M 347 325 348 349 321 350 208 307 55 351 272 8 223 342 350 277 230 308 230 153 352 86 161 320 249 353 354 295 355 g & K V 34 298 74 337 284 356 319 351 194 357 170 106 F 294 343 334 358 ( x T 239 359 360 179 361 259 331 362 363 344 364 364 230 146 365 n 279 366 367 291 252 334 368 369 289 370 323 200 358 371 219 371 285 372 373 374 65 137 337 134 260 375 376 251 363 261 368 233 271 213 371 366 377 115 378 379 380 253 381 382 44 367 279 383 384 385 159 347 386 196 ! 200 387 362 160 352 384 161 259 388 ! 255 167 374 258 337 k 335 389 319 226 ! 379 390 240 373 l 377 380 " 391 388 392 393 312 394 246 4 395 394 312 258 387 219 396 397 382 146 205 134 328 398 258 399 338 400 336 401 256 283 134 402 249 349 403 253 392 178 244 341 404 344 405 406 181 400 252 231 402 362 318 207 356 393 335 276 376 404 334 401 163 308 322 103 400 405 392 407 344 276 372 245 361 407 146 199 408 304 409 410 411 412 198 413 162 354 362 414 74 363 369 400 358 386 213 406 279 357 330 415 203 120 413 324 403 375 229 399 54 31 86 254 314 e 279 34 410 408 416 8 192 276 140 222 389 207 325 412 417 310 5 345 107 O H
1 -> W t                                          Wt
2 -> 418 419                                      pDR&B3%jc
3 -> 18 420                                       R&!Ve9R&#VXI
4 -> 126 249 421                                  XHWtR&B4R&!%jcR&8
5 -> 422 423 249 274 17                           fDXhX4XdX3JbR&B4R&!UpDtR&831rubR&!5HWt
6 -> 424 419 425                                  pDtR&B3%jcR&
7 -> 7 314 v                                      7iXv
8 -> 426 427                                      VXhXubR&!O
9 -> 58 68                                        HWtR&B%jc
10 -> 128 42                                      XHWtR&o%jc
11 -> 428 126                                     R&#VXIXHWt
12 -> 68 19                                       R&B%jcR&2VXZX9
13 -> 429 128                                     R&2VX'XHWtR&
14 -> 421 426                                     %jcR&8VXhX
15 -> J b                                         Jb
16 -> 425 !                                       R&!
17 -> 275 58                                      ubR&!5HWt
18 -> 16 266                                      R&!Ve
19 -> 40 9                                        R&2VXZX9
20 -> B 51                                        B%jcR&2VXZX
21 -> 79 l 14                                     HWtR&l%jcR&8VXhX
22 -> 48 18                                       HWtR&B%jcR&2VXZX9R&!Ve
23 -> 79 430 39 43 431 121 432 299 79             HWtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OHWtR&
24 -> F 51                                        F%jcR&2VXZX
25 -> 79 20                                       HWtR&B%jcR&2VXZX
26 -> 433 12 103                                  HWtR&o4R&B%jcR&2VXZX9R&8VXhX
27 -> 79 o                                        HWtR&o
28 -> 51 79                                       %jcR&2VXZXHWtR&
29 -> 2 4                                         24
30 -> 31 434                                      R&2fDXZX4X'X3Jb
31 -> 425 2                                       R&2
32 -> 121 435 299 58                              ubpDR&B3OHWt
33 -> 50 4                                        pDR&B34
34 -> 425 K                                       R&K
35 -> 355 436                                     %jcR&!Ve9R&#VXIX
36 -> 32 12                                       ubpDR&B3OHWtR&B%jcR&2VXZX9
37 -> 16 x 264                                    R&!x!D6D33m
38 -> L 58                                        LHWt
39 -> 432 437                                     pDR&a3%jc
40 -> 438 439                                     R&2VXZX
41 -> 58 33 425                                   HWtpDR&B34R&
42 -> o 355                                       o%jc
43 -> 103 15                                      R&8VXhXJb
44 -> 425 o                                       R&o
45 -> B 14                                        B%jcR&8VXhX
46 -> 79 45                                       HWtR&B%jcR&8VXhX
47 -> 420 440                                     9R&#VXIXHWtR&B
48 -> 25 9                                        HWtR&B%jcR&2VXZX9
49 -> 441 55 V 431 106 442                        Y%jcR&BVR&aJbR&YUpDtR&a3
50 -> 435 3                                       pDR&B3
51 -> 355 40                                      %jcR&2VXZX
52 -> 51 69                                       %jcR&2VXZXubR&!OHWt
53 -> 9 436                                       9R&!Ve9R&#VXIX
54 -> ! 95                                        !4R&B%jc
55 -> 425 B                                       R&B
56 -> 443 44 444                                  UpDtR&o3Vw
57 -> 69 90                                       ubR&!OHWtR&B%jcR&8VXhX
58 -> H 1                                         HWt
59 -> 81 384                                      pDtR&B3%jcR&2VXZX
60 -> 103 79                                      R&8VXhXHWtR&
61 -> 79 302 18 415                               HWtR&(%jcR&!VeJbR&(
62 -> 9 445                                       9R&#
63 -> 446 I 447 $ 448                             fDXIX4X$X3
64 -> 27 355                                      HWtR&o%jc
65 -> 425 l                                       R&l
66 -> ! 355                                       !%jc
67 -> 428 196                                     R&#VXIXJbR&
68 -> 55 355                                      R&B%jc
69 -> 427 58                                      ubR&!OHWt
70 -> 449 450                                     pDR&Y3
71 -> 4 44                                        4R&o
72 -> 51 106                                      %jcR&2VXZXJbR&
73 -> o 121                                       oub
74 -> 70 O                                        pDR&Y3O
75 -> 96 126                                      R&!Ve9R&#VXIXHWt
76 -> 449 a 3                                     pDR&a3
77 -> 4 16                                        4R&!
78 -> 8 77                                        84R&!
79 -> 58 425                                      HWtR&
80 -> 121 16                                      ubR&!
81 -> 6 2                                         pDtR&B3%jcR&2
82 -> 397 439                                     qXZX
83 -> 165 379                                     9R&!1e
84 -> 451 W                                       fDW
85 -> 68 31                                       R&B%jcR&2
86 -> 314 439                                     iXZX
87 -> 79 284                                      HWtR&B%jcR&
88 -> 452 126                                     7VXvXHWt
89 -> 102 75                                      pDR&B3%jcR&!Ve9R&#VXIXHWt
90 -> 68 103                                      R&B%jcR&8VXhX
91 -> 425 (                                       R&(
92 -> 4 65                                        4R&l
93 -> 131 58                                      %jcR&2VXZXHWt
94 -> 332 450                                     pDtR&Y3
95 -> 4 68                                        4R&B%jc
96 -> 18 113                                      R&!Ve9R&#VXI
97 -> 340 241                                     XJbR&BubpDtR&Y3
98 -> O 79                                        OHWtR&
99 -> F 137                                       F%jcR&8VXhX
100 -> 87 123                                     HWtR&B%jcR&2VXZX
101 -> 105 58                                     9R&!VeHWt
102 -> 453 437                                    pDR&B3%jc
103 -> 295 426                                    R&8VXhX
104 -> 366 137                                    pDR&B34R&o%jcR&8VXhX
105 -> 165 266                                    9R&!Ve
106 -> 15 425                                     JbR&
107 -> 73 159                                     oubpDR&B3
108 -> 98 B                                       OHWtR&B
109 -> 77 191                                     4R&!%jcR&8
110 -> 93 425                                     %jcR&2VXZXHWtR&
111 -> 109 426                                    4R&!%jcR&8VXhX
112 -> 425 441                                    R&Y%jc
113 -> 62 359                                     9R&#VXI
114 -> 295 454                                    R&8fDXhX4XdX3
115 -> 106 o                                      JbR&o
116 -> 64 114 115 274                             HWtR&o%jcR&8fDXhX4XdX3JbR&oUpDtR&831r
117 -> 58 145                                     HWtpDR&B3%jcR&!Ve9R&#VXI
118 -> 440 455                                    XHWtR&B%jcR&
119 -> 88 456                                     7VXvXHWtR&o4R&B%jcR&2VXZX9
120 -> 70 455                                     pDR&Y3%jcR&
121 -> u b                                        ub
122 -> 433 142 147                                HWtR&o4R&B%jcR&2VXZX9R&8VXhXHWt
123 -> 2 384                                      2VXZX
124 -> 9 13 284                                   9R&2VX'XHWtR&B%jcR&
125 -> # 359                                      #VXI
126 -> X 58                                       XHWt
127 -> 104 414 457                                pDR&B34R&o%jcR&8VXhXJbR&oubpDR&B3O
128 -> 126 425                                    XHWtR&
129 -> 441 329                                    Y%jcR&#VXIXJbR&YUpDtR&a3z
130 -> 327 3                                      pDr3
131 -> 455 123                                    %jcR&2VXZX
132 -> 414 130                                    JbR&oubpDr3
133 -> 455 !                                      %jcR&!
134 -> 430 76                                     a4pDR&a3
135 -> 131 106                                    %jcR&2VXZXJbR&
136 -> 458 76                                     aubpDR&a3
137 -> 191 426                                    %jcR&8VXhX
138 -> 228 113 128                                8VXhX9R&#VXIXHWtR&
139 -> 302 40                                     (%jcR&2VXZX
140 -> 2 265                                      2%jcR&8iXhX
141 -> 456 147                                    R&o4R&B%jcR&2VXZX9R&8VXhXHWt
142 -> 85 384 9                                   R&B%jcR&2VXZX9
143 -> 445 63 115                                 R&#fDXIX4X$X3JbR&o
144 -> 113 126                                    9R&#VXIXHWt
145 -> 159 157                                    pDR&B3%jcR&!Ve9R&#VXI
146 -> 68 425                                     R&B%jcR&
147 -> 103 58                                     R&8VXhXHWt
148 -> 459 155 105                                7VXvX9R&8VXhX9R&!Ve
149 -> 449 K 3                                    pDR&K3
150 -> 4 34                                       4R&K
151 -> K 121                                      Kub
152 -> O 58                                       OHWt
153 -> 332 B 3                                    pDtR&B3
154 -> 71 180 360                                 4R&o%jcR&#VXIXJbR&oub
155 -> 9 103                                      9R&8VXhX
156 -> 159 137                                    pDR&B3%jcR&8VXhX
157 -> 361 113                                    %jcR&!Ve9R&#VXI
158 -> 113 460                                    9R&#VXIXHW
159 -> 453 3                                      pDR&B3
160 -> 203 159                                    HWtpDR&B3
161 -> 106 !                                      JbR&!
162 -> 427 203                                    ubR&!OHWt
163 -> 231 137 385                                R&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OHWt
164 -> 172 182                                    R&B%jcR&2VXZX9R&2VX'XHWt
165 -> 9 16                                       9R&!
166 -> e 203                                      eHWt
167 -> 456 103 276                                R&o4R&B%jcR&2VXZX9R&8VXhXHWtR&
168 -> 455 2                                      %jcR&2
169 -> 189 111 162                                HWtR&B4R&!%jcR&8VXhXubR&!OHWt
170 -> 425 99                                     R&F%jcR&8VXhX
171 -> 189 157 279                                HWtR&B%jcR&!Ve9R&#VXIXHWt
172 -> 146 217                                    R&B%jcR&2VXZX9
173 -> 189 335                                    HWtR&B%jcR&2VXZX
174 -> 173 105                                    HWtR&B%jcR&2VXZX9R&!Ve
175 -> 203 202                                    HWtpDtR&B3%jcR&8VXhX
176 -> 322 143                                    HWtR&o%jcR&#fDXIX4X$X3JbR&o
177 -> 409 335                                    HWtR&K%jcR&2VXZX
178 -> 203 94                                     HWtpDtR&Y3
179 -> 94 268 44                                  pDtR&Y3OHWtR&o
180 -> 455 125                                    %jcR&#VXI
181 -> 212 459                                    XHWtR&B%jcR&7VXvX
182 -> 429 279                                    R&2VX'XHWt
183 -> 153 335                                    pDtR&B3%jcR&2VXZX
184 -> 336 276                                    HWtR&o%jcR&2VXZXHWtR&
185 -> F 335                                      F%jcR&2VXZX
186 -> 203 76                                     HWtpDR&a3
187 -> 4 445 461 462 #                            4R&#%jcR&#fDXIX4X$X3JbR&#
188 -> 443 65 444                                 UpDtR&l3Vw
189 -> 276 B                                      HWtR&B
190 -> 105 158 t                                  9R&!Ve9R&#VXIXHWt
191 -> 455 8                                      %jcR&8
192 -> 273 443 34 463 r                           fDXhX4XdX3JbR&BUpDtR&K3Vr
193 -> 461 359                                    %jcR&#VXI
194 -> 360 464                                    XJbR&oubpDtR&B3OHWt
195 -> 159 150                                    pDR&B34R&K
196 -> X 106                                      XJbR&
197 -> 151 457                                    KubpDR&B3O
198 -> 95 425                                     4R&B%jcR&
199 -> 459 282                                    7VXvXJbR&B
200 -> 121 457                                    ubpDR&B3O
201 -> 146 228                                    R&B%jcR&8VXhX
202 -> 153 137                                    pDtR&B3%jcR&8VXhX
203 -> 465 t                                      HWt
204 -> 313 455                                    HWtR&l%jcR&
205 -> 459 276                                    7VXvXHWtR&
206 -> 2 82                                       2qXZX
207 -> 189 455                                    HWtR&B%jcR&
208 -> 459 247                                    7VXvX9R&
209 -> M 214                                      MVX
210 -> E 215                                      EX9R&
211 -> 216 466                                    !Ve9R&#VXI
212 -> 279 146                                    XHWtR&B%jcR&
213 -> 279 253                                    XHWtpDR&B3%jcR&
214 -> V X                                        VX
215 -> X 247                                      X9R&
216 -> ! 266                                      !Ve
217 -> 123 9                                      2VXZX9
218 -> L 203                                      LHWt
219 -> 153 455                                    pDtR&B3%jcR&
220 -> 7 279                                      7iXvXHWt
221 -> 66 43 16 275                               !%jcR&8VXhXJbR&!ubR&!5
222 -> 186 335                                    HWtpDR&a3%jcR&2VXZX
223 -> 411 212                                    HWtpDr3%jcR&2VXZX9R&2VX'XHWtR&B%jcR&
224 -> 467 439                                    2VXZX
225 -> 203 130                                    HWtpDr3
226 -> 71 455                                     4R&o%jcR&
227 -> 268 233                                    OHWtR&K%jcR&2VXZXHWtR&B%jcR&
228 -> 8 426                                      8VXhX
229 -> 284 228                                    B%jcR&8VXhX
230 -> 466 279                                    9R&#VXIXHWt
231 -> 468 76                                     R&a4pDR&a3
232 -> 335 385                                    %jcR&2VXZXJbR&aubpDR&a3OHWt
233 -> 308 207                                    R&K%jcR&2VXZXHWtR&B%jcR&
234 -> 469 D W                                    !VDW
235 -> D 16 297                                   DR&!3%j
236 -> 189 77                                     HWtR&B4R&!
237 -> 470 234 Q                                  %jcR&2VXZX9R&!VDWQ
238 -> c 40                                       cR&2VXZX
239 -> 178 471                                    HWtpDtR&Y34R&o%jcR&#
240 -> 462 o                                      fDXIX4X$X3JbR&o
241 -> 121 94                                     ubpDtR&Y3
242 -> 228 247                                    8VXhX9R&
243 -> 356 230                                    !Ve9R&#VXIXHWt
244 -> 92 417 l                                   4R&l%jcR&8VXhXJbR&l
245 -> 200 160                                    ubpDR&B3OHWtpDR&B3
246 -> 312 31                                     %jcR&#VXIXHWtR&2
247 -> 9 425                                      9R&
248 -> 160 470 307                                HWtpDR&B3%jcR&2VXZX9R&#VXIXHWt
249 -> 55 77                                      R&B4R&!
250 -> 335 427                                    %jcR&2VXZXubR&!O
251 -> 283 139 415                                2VXZXHWtR&(%jcR&2VXZXJbR&(
252 -> 236 353                                    HWtR&B4R&!%jcR&8VXhXubR&!OHWt
253 -> 159 455                                    pDR&B3%jcR&
254 -> 247 !                                      9R&!
255 -> z 166                                      zeHWt
256 -> 472 306                                    R&B%jcR&8fDXhX4XdX3JbR&BUpDtR&K3VrHWtR&B%jcR&
257 -> 276 134                                    HWtR&a4pDR&a3
258 -> 472 426                                    R&B%jcR&8VXhX
259 -> 177 400                                    HWtR&K%jcR&2VXZX9R&!Ve
260 -> 417 270                                    %jcR&8VXhXJbR&aubpDR&a3OHWt
261 -> 258 400                                    R&B%jcR&8VXhX9R&!Ve
262 -> 230 253                                    9R&#VXIXHWtpDR&B3%jcR&
263 -> 224 254                                    2VXZX9R&!

In [111]:
from sksequitur import Grammar

In [124]:
print(grammar)

0 -> 1 2 3 4 5 6 7 4 8 9 3 10 11 2 11 12 13 ! 14 15 16 17 12 18 9 19 13 20 21 22 23 24 25 26 27 28 29 2 30 31 32 33 34 35 15 34 36 37 38 39 40 41 42 43 44 36 13 45 46 47 35 48 13 49 x 38 50 51 47 52 50 14 53 21 23 54 30 55 56 57 53 26 58 59 9 60 24 61 25 22 62 63 64 11 65 51 41 66 67 ! 32 68 40 69 70 71 72 73 74 46 9 75 76 77 72 ! 58 76 28 78 52 59 79 66 40 80 58 81 82 83 9 55 84 85 86 3 87 88 89 90 58 89 91 92 93 94 95 96 97 98 99 100 57 101 102 103 101 104 105 106 107 108 109 5 76 110 F 111 17 112 103 113 10 114 83 115 116 116 117 118 119 60 29 120 o V 44 106 2 121 74 122 120 123 124 125 126 127 117 128 129 38 130 71 131 132 108 133 q e 64 40 61 116 79 K 110 134 135 136 108 137 113 118 138 139 87 138 140 122 141 142 18 64 143 100 144 145 128 l 131 101 146 119 147 146 148 144 149 150 135 151 149 152 153 154 153 152 141 130 131 124 123 155 144 156 101 44 157 118 148 158 159 131 160 111 161 162 163 164 156 165 x 166 167 M 168 86 155 169 170 171 172 18 173 174 174 175 176 177 105 178 154 179 180 181 173 9 182 183 184 185 186 187 176 188 175 189 137 190 164 183 189 191 192 169 153 71 193 194 195 157 196 197 160 198 199 200 173 171 201 190 202 173 203 183 204 205 29 146 206 155 204 123 207 208 209 210 211 212 211 213 N 214 0 215 216 207 217 37 218 219 220 167 221 222 223 224 177 225 226 B V 55 132 227 228 184 229 230 231 232 233 234 " 235 3 236 237 235 238 3 239 240 188 241 227 208 242 243 159 244 245 246 198 206 247 228 248 249 250 s y 204 251 252 253 243 201 254 255 256 205 42 143 188 257 232 258 248 127 259 257 260 261 262 263 G 264 218 31 265 207 263 266 178 267 97 268 231 269 270 120 271 272 273 77 274 275 276 49 1 218 127 207 277 160 278 279 163 146 280 281 261 282 274 207 283 284 280 230 285 185 286 120 287 288 289 290 291 281 292 207 228 225 92 293 l 294 295 4 296 297 238 298 296 299 300 208 301 302 43 91 300 303 303 304 305 306 303 307 308 160 309 310 311 312 285 229 313 309 l 77 162 146 M 314 210 315 316 317 318 319 187 320 292 321 262 280 322 114 254 323 324 204 325 317 326 289 287 o 207 304 326 286 327 j 328 C 268 112 329 218 330 331 332 o 333 82 247 B 84 334 3 319 335 336 300 307 16 293 ! 337 338 276 129 218 339 42 18 178 150 267 340 150 341 342 276 ( 92 335 337 221 281 343 253 315 344 345 346 339 M 347 325 348 349 321 350 208 307 55 351 272 8 223 342 350 277 230 308 230 153 352 86 161 320 249 353 354 295 355 g & K V 34 298 74 337 284 356 319 351 194 357 170 106 F 294 343 334 358 ( x T 239 359 360 179 361 259 331 362 363 344 364 364 230 146 365 n 279 366 367 291 252 334 368 369 289 370 323 200 358 371 219 371 285 372 373 374 65 137 337 134 260 375 376 251 363 261 368 233 271 213 371 366 377 115 378 379 380 253 381 382 44 367 279 383 384 385 159 347 386 196 ! 200 387 362 160 352 384 161 259 388 ! 255 167 374 258 337 k 335 389 319 226 ! 379 390 240 373 l 377 380 " 391 388 392 393 312 394 246 4 395 394 312 258 387 219 396 397 382 146 205 134 328 398 258 399 338 400 336 401 256 283 134 402 249 349 403 253 392 178 244 341 404 344 405 406 181 400 252 231 402 362 318 207 356 393 335 276 376 404 334 401 163 308 322 103 400 405 392 407 344 276 372 245 361 407 146 199 408 304 409 410 411 412 198 413 162 354 362 414 74 363 369 400 358 386 213 406 279 357 330 415 203 120 413 324 403 375 229 399 54 31 86 254 314 e 279 34 410 408 416 8 192 276 140 222 389 207 325 412 417 310 5 345 107 O H
1 -> W t                                          Wt
2 -> 418 419                                      pDR&B3%jc
3 -> 18 420                                       R&!Ve9R&#VXI
4 -> 126 249 421                                  XHWtR&B4R&!%jcR&8
5 -> 422 423 249 274 17                           fDXhX4XdX3JbR&B4R&!UpDtR&831rubR&!5HWt
6 -> 424 419 425                                  pDtR&B3%jcR&
7 -> 7 314 v                                      7iXv
8 -> 426 427                                      VXhXubR&!O
9 -> 58 68                                        HWtR&B%jc
10 -> 128 42                                      XHWtR&o%jc
11 -> 428 126                                     R&#VXIXHWt
12 -> 68 19                                       R&B%jcR&2VXZX9
13 -> 429 128                                     R&2VX'XHWtR&
14 -> 421 426                                     %jcR&8VXhX
15 -> J b                                         Jb
16 -> 425 !                                       R&!
17 -> 275 58                                      ubR&!5HWt
18 -> 16 266                                      R&!Ve
19 -> 40 9                                        R&2VXZX9
20 -> B 51                                        B%jcR&2VXZX
21 -> 79 l 14                                     HWtR&l%jcR&8VXhX
22 -> 48 18                                       HWtR&B%jcR&2VXZX9R&!Ve
23 -> 79 430 39 43 431 121 432 299 79             HWtR&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OHWtR&
24 -> F 51                                        F%jcR&2VXZX
25 -> 79 20                                       HWtR&B%jcR&2VXZX
26 -> 433 12 103                                  HWtR&o4R&B%jcR&2VXZX9R&8VXhX
27 -> 79 o                                        HWtR&o
28 -> 51 79                                       %jcR&2VXZXHWtR&
29 -> 2 4                                         24
30 -> 31 434                                      R&2fDXZX4X'X3Jb
31 -> 425 2                                       R&2
32 -> 121 435 299 58                              ubpDR&B3OHWt
33 -> 50 4                                        pDR&B34
34 -> 425 K                                       R&K
35 -> 355 436                                     %jcR&!Ve9R&#VXIX
36 -> 32 12                                       ubpDR&B3OHWtR&B%jcR&2VXZX9
37 -> 16 x 264                                    R&!x!D6D33m
38 -> L 58                                        LHWt
39 -> 432 437                                     pDR&a3%jc
40 -> 438 439                                     R&2VXZX
41 -> 58 33 425                                   HWtpDR&B34R&
42 -> o 355                                       o%jc
43 -> 103 15                                      R&8VXhXJb
44 -> 425 o                                       R&o
45 -> B 14                                        B%jcR&8VXhX
46 -> 79 45                                       HWtR&B%jcR&8VXhX
47 -> 420 440                                     9R&#VXIXHWtR&B
48 -> 25 9                                        HWtR&B%jcR&2VXZX9
49 -> 441 55 V 431 106 442                        Y%jcR&BVR&aJbR&YUpDtR&a3
50 -> 435 3                                       pDR&B3
51 -> 355 40                                      %jcR&2VXZX
52 -> 51 69                                       %jcR&2VXZXubR&!OHWt
53 -> 9 436                                       9R&!Ve9R&#VXIX
54 -> ! 95                                        !4R&B%jc
55 -> 425 B                                       R&B
56 -> 443 44 444                                  UpDtR&o3Vw
57 -> 69 90                                       ubR&!OHWtR&B%jcR&8VXhX
58 -> H 1                                         HWt
59 -> 81 384                                      pDtR&B3%jcR&2VXZX
60 -> 103 79                                      R&8VXhXHWtR&
61 -> 79 302 18 415                               HWtR&(%jcR&!VeJbR&(
62 -> 9 445                                       9R&#
63 -> 446 I 447 $ 448                             fDXIX4X$X3
64 -> 27 355                                      HWtR&o%jc
65 -> 425 l                                       R&l
66 -> ! 355                                       !%jc
67 -> 428 196                                     R&#VXIXJbR&
68 -> 55 355                                      R&B%jc
69 -> 427 58                                      ubR&!OHWt
70 -> 449 450                                     pDR&Y3
71 -> 4 44                                        4R&o
72 -> 51 106                                      %jcR&2VXZXJbR&
73 -> o 121                                       oub
74 -> 70 O                                        pDR&Y3O
75 -> 96 126                                      R&!Ve9R&#VXIXHWt
76 -> 449 a 3                                     pDR&a3
77 -> 4 16                                        4R&!
78 -> 8 77                                        84R&!
79 -> 58 425                                      HWtR&
80 -> 121 16                                      ubR&!
81 -> 6 2                                         pDtR&B3%jcR&2
82 -> 397 439                                     qXZX
83 -> 165 379                                     9R&!1e
84 -> 451 W                                       fDW
85 -> 68 31                                       R&B%jcR&2
86 -> 314 439                                     iXZX
87 -> 79 284                                      HWtR&B%jcR&
88 -> 452 126                                     7VXvXHWt
89 -> 102 75                                      pDR&B3%jcR&!Ve9R&#VXIXHWt
90 -> 68 103                                      R&B%jcR&8VXhX
91 -> 425 (                                       R&(
92 -> 4 65                                        4R&l
93 -> 131 58                                      %jcR&2VXZXHWt
94 -> 332 450                                     pDtR&Y3
95 -> 4 68                                        4R&B%jc
96 -> 18 113                                      R&!Ve9R&#VXI
97 -> 340 241                                     XJbR&BubpDtR&Y3
98 -> O 79                                        OHWtR&
99 -> F 137                                       F%jcR&8VXhX
100 -> 87 123                                     HWtR&B%jcR&2VXZX
101 -> 105 58                                     9R&!VeHWt
102 -> 453 437                                    pDR&B3%jc
103 -> 295 426                                    R&8VXhX
104 -> 366 137                                    pDR&B34R&o%jcR&8VXhX
105 -> 165 266                                    9R&!Ve
106 -> 15 425                                     JbR&
107 -> 73 159                                     oubpDR&B3
108 -> 98 B                                       OHWtR&B
109 -> 77 191                                     4R&!%jcR&8
110 -> 93 425                                     %jcR&2VXZXHWtR&
111 -> 109 426                                    4R&!%jcR&8VXhX
112 -> 425 441                                    R&Y%jc
113 -> 62 359                                     9R&#VXI
114 -> 295 454                                    R&8fDXhX4XdX3
115 -> 106 o                                      JbR&o
116 -> 64 114 115 274                             HWtR&o%jcR&8fDXhX4XdX3JbR&oUpDtR&831r
117 -> 58 145                                     HWtpDR&B3%jcR&!Ve9R&#VXI
118 -> 440 455                                    XHWtR&B%jcR&
119 -> 88 456                                     7VXvXHWtR&o4R&B%jcR&2VXZX9
120 -> 70 455                                     pDR&Y3%jcR&
121 -> u b                                        ub
122 -> 433 142 147                                HWtR&o4R&B%jcR&2VXZX9R&8VXhXHWt
123 -> 2 384                                      2VXZX
124 -> 9 13 284                                   9R&2VX'XHWtR&B%jcR&
125 -> # 359                                      #VXI
126 -> X 58                                       XHWt
127 -> 104 414 457                                pDR&B34R&o%jcR&8VXhXJbR&oubpDR&B3O
128 -> 126 425                                    XHWtR&
129 -> 441 329                                    Y%jcR&#VXIXJbR&YUpDtR&a3z
130 -> 327 3                                      pDr3
131 -> 455 123                                    %jcR&2VXZX
132 -> 414 130                                    JbR&oubpDr3
133 -> 455 !                                      %jcR&!
134 -> 430 76                                     a4pDR&a3
135 -> 131 106                                    %jcR&2VXZXJbR&
136 -> 458 76                                     aubpDR&a3
137 -> 191 426                                    %jcR&8VXhX
138 -> 228 113 128                                8VXhX9R&#VXIXHWtR&
139 -> 302 40                                     (%jcR&2VXZX
140 -> 2 265                                      2%jcR&8iXhX
141 -> 456 147                                    R&o4R&B%jcR&2VXZX9R&8VXhXHWt
142 -> 85 384 9                                   R&B%jcR&2VXZX9
143 -> 445 63 115                                 R&#fDXIX4X$X3JbR&o
144 -> 113 126                                    9R&#VXIXHWt
145 -> 159 157                                    pDR&B3%jcR&!Ve9R&#VXI
146 -> 68 425                                     R&B%jcR&
147 -> 103 58                                     R&8VXhXHWt
148 -> 459 155 105                                7VXvX9R&8VXhX9R&!Ve
149 -> 449 K 3                                    pDR&K3
150 -> 4 34                                       4R&K
151 -> K 121                                      Kub
152 -> O 58                                       OHWt
153 -> 332 B 3                                    pDtR&B3
154 -> 71 180 360                                 4R&o%jcR&#VXIXJbR&oub
155 -> 9 103                                      9R&8VXhX
156 -> 159 137                                    pDR&B3%jcR&8VXhX
157 -> 361 113                                    %jcR&!Ve9R&#VXI
158 -> 113 460                                    9R&#VXIXHW
159 -> 453 3                                      pDR&B3
160 -> 203 159                                    HWtpDR&B3
161 -> 106 !                                      JbR&!
162 -> 427 203                                    ubR&!OHWt
163 -> 231 137 385                                R&a4pDR&a3%jcR&8VXhXJbR&aubpDR&a3OHWt
164 -> 172 182                                    R&B%jcR&2VXZX9R&2VX'XHWt
165 -> 9 16                                       9R&!
166 -> e 203                                      eHWt
167 -> 456 103 276                                R&o4R&B%jcR&2VXZX9R&8VXhXHWtR&
168 -> 455 2                                      %jcR&2
169 -> 189 111 162                                HWtR&B4R&!%jcR&8VXhXubR&!OHWt
170 -> 425 99                                     R&F%jcR&8VXhX
171 -> 189 157 279                                HWtR&B%jcR&!Ve9R&#VXIXHWt
172 -> 146 217                                    R&B%jcR&2VXZX9
173 -> 189 335                                    HWtR&B%jcR&2VXZX
174 -> 173 105                                    HWtR&B%jcR&2VXZX9R&!Ve
175 -> 203 202                                    HWtpDtR&B3%jcR&8VXhX
176 -> 322 143                                    HWtR&o%jcR&#fDXIX4X$X3JbR&o
177 -> 409 335                                    HWtR&K%jcR&2VXZX
178 -> 203 94                                     HWtpDtR&Y3
179 -> 94 268 44                                  pDtR&Y3OHWtR&o
180 -> 455 125                                    %jcR&#VXI
181 -> 212 459                                    XHWtR&B%jcR&7VXvX
182 -> 429 279                                    R&2VX'XHWt
183 -> 153 335                                    pDtR&B3%jcR&2VXZX
184 -> 336 276                                    HWtR&o%jcR&2VXZXHWtR&
185 -> F 335                                      F%jcR&2VXZX
186 -> 203 76                                     HWtpDR&a3
187 -> 4 445 461 462 #                            4R&#%jcR&#fDXIX4X$X3JbR&#
188 -> 443 65 444                                 UpDtR&l3Vw
189 -> 276 B                                      HWtR&B
190 -> 105 158 t                                  9R&!Ve9R&#VXIXHWt
191 -> 455 8                                      %jcR&8
192 -> 273 443 34 463 r                           fDXhX4XdX3JbR&BUpDtR&K3Vr
193 -> 461 359                                    %jcR&#VXI
194 -> 360 464                                    XJbR&oubpDtR&B3OHWt
195 -> 159 150                                    pDR&B34R&K
196 -> X 106                                      XJbR&
197 -> 151 457                                    KubpDR&B3O
198 -> 95 425                                     4R&B%jcR&
199 -> 459 282                                    7VXvXJbR&B
200 -> 121 457                                    ubpDR&B3O
201 -> 146 228                                    R&B%jcR&8VXhX
202 -> 153 137                                    pDtR&B3%jcR&8VXhX
203 -> 465 t                                      HWt
204 -> 313 455                                    HWtR&l%jcR&
205 -> 459 276                                    7VXvXHWtR&
206 -> 2 82                                       2qXZX
207 -> 189 455                                    HWtR&B%jcR&
208 -> 459 247                                    7VXvX9R&
209 -> M 214                                      MVX
210 -> E 215                                      EX9R&
211 -> 216 466                                    !Ve9R&#VXI
212 -> 279 146                                    XHWtR&B%jcR&
213 -> 279 253                                    XHWtpDR&B3%jcR&
214 -> V X                                        VX
215 -> X 247                                      X9R&
216 -> ! 266                                      !Ve
217 -> 123 9                                      2VXZX9
218 -> L 203                                      LHWt
219 -> 153 455                                    pDtR&B3%jcR&
220 -> 7 279                                      7iXvXHWt
221 -> 66 43 16 275                               !%jcR&8VXhXJbR&!ubR&!5
222 -> 186 335                                    HWtpDR&a3%jcR&2VXZX
223 -> 411 212                                    HWtpDr3%jcR&2VXZX9R&2VX'XHWtR&B%jcR&
224 -> 467 439                                    2VXZX
225 -> 203 130                                    HWtpDr3
226 -> 71 455                                     4R&o%jcR&
227 -> 268 233                                    OHWtR&K%jcR&2VXZXHWtR&B%jcR&
228 -> 8 426                                      8VXhX
229 -> 284 228                                    B%jcR&8VXhX
230 -> 466 279                                    9R&#VXIXHWt
231 -> 468 76                                     R&a4pDR&a3
232 -> 335 385                                    %jcR&2VXZXJbR&aubpDR&a3OHWt
233 -> 308 207                                    R&K%jcR&2VXZXHWtR&B%jcR&
234 -> 469 D W                                    !VDW
235 -> D 16 297                                   DR&!3%j
236 -> 189 77                                     HWtR&B4R&!
237 -> 470 234 Q                                  %jcR&2VXZX9R&!VDWQ
238 -> c 40                                       cR&2VXZX
239 -> 178 471                                    HWtpDtR&Y34R&o%jcR&#
240 -> 462 o                                      fDXIX4X$X3JbR&o
241 -> 121 94                                     ubpDtR&Y3
242 -> 228 247                                    8VXhX9R&
243 -> 356 230                                    !Ve9R&#VXIXHWt
244 -> 92 417 l                                   4R&l%jcR&8VXhXJbR&l
245 -> 200 160                                    ubpDR&B3OHWtpDR&B3
246 -> 312 31                                     %jcR&#VXIXHWtR&2
247 -> 9 425                                      9R&
248 -> 160 470 307                                HWtpDR&B3%jcR&2VXZX9R&#VXIXHWt
249 -> 55 77                                      R&B4R&!
250 -> 335 427                                    %jcR&2VXZXubR&!O
251 -> 283 139 415                                2VXZXHWtR&(%jcR&2VXZXJbR&(
252 -> 236 353                                    HWtR&B4R&!%jcR&8VXhXubR&!OHWt
253 -> 159 455                                    pDR&B3%jcR&
254 -> 247 !                                      9R&!
255 -> z 166                                      zeHWt
256 -> 472 306                                    R&B%jcR&8fDXhX4XdX3JbR&BUpDtR&K3VrHWtR&B%jcR&
257 -> 276 134                                    HWtR&a4pDR&a3
258 -> 472 426                                    R&B%jcR&8VXhX
259 -> 177 400                                    HWtR&K%jcR&2VXZX9R&!Ve
260 -> 417 270                                    %jcR&8VXhXJbR&aubpDR&a3OHWt
261 -> 258 400                                    R&B%jcR&8VXhX9R&!Ve
262 -> 230 253                                    9R&#VXIXHWtpDR&B3%jcR&
263 -> 224 254                                    2VXZX9R&!

In [123]:
for k, v in grammar.items():
    for vv in v:
        if isinstance(vv, str):
            temp.append(cht2t(vv))
    print(f"{k} -> " + " ".join(temp))

0 -> , "
1 -> , "
2 -> , "
3 -> , "
4 -> , "
5 -> , "
6 -> , "
7 -> , "
8 -> , "
9 -> , "
10 -> , "
11 -> , "
12 -> , "
13 -> , "
14 -> , "
15 -> , "
16 -> , "
17 -> , "
18 -> , "
19 -> , "
20 -> , "
21 -> , "
22 -> , "
23 -> , "
24 -> , "
25 -> , "
26 -> , "
27 -> , "
28 -> , "
29 -> , "
30 -> , "
31 -> , "
32 -> , "
33 -> , "
34 -> , "
35 -> , "
36 -> , "
37 -> , "
38 -> , "
39 -> , "
40 -> , "
41 -> , "
42 -> , "
43 -> , "
44 -> , "
45 -> , "
46 -> , "
47 -> , "
48 -> , "
49 -> , "
50 -> , "
51 -> , "
52 -> , "
53 -> , "
54 -> , "
55 -> , "
56 -> , "
57 -> , "
58 -> , "
59 -> , "
60 -> , "
61 -> , "
62 -> , "
63 -> , "
64 -> , "
65 -> , "
66 -> , "
67 -> , "
68 -> , "
69 -> , "
70 -> , "
71 -> , "
72 -> , "
73 -> , "
74 -> , "
75 -> , "
76 -> , "
77 -> , "
78 -> , "
79 -> , "
80 -> , "
81 -> , "
82 -> , "
83 -> , "
84 -> , "
85 -> , "
86 -> , "
87 -> , "
88 -> , "
89 -> , "
90 -> , "
91 -> , "
92 -> , "
93 -> , "
94 -> , "
95 -> , "
96 -> , "
97 -> , "
98 -> , "
99 -> , "
100 -> , "
101 -> , "
102 -> , "
103 -> , "
104 -> , "
105 -> , "
106 -> , "
107 -> , "
108 -> , "
109 -> , "
110 -> , "
111 -> , "
112 -> , "
113 -> , "
114 -> , "
115 -> , "
116 -> , "
117 -> , "
118 -> , "
119 -> , "
120 -> , "
121 -> , "
122 -> , "
123 -> , "
124 -> , "
125 -> , "
126 -> , "
127 -> , "
128 -> , "
129 -> , "
130 -> , "
131 -> , "
132 -> , "
133 -> , "
134 -> , "
135 -> , "
136 -> , "
137 -> , "
138 -> , "
139 -> , "
140 -> , "
141 -> , "
142 -> , "
143 -> , "
144 -> , "
145 -> , "
146 -> , "
147 -> , "
148 -> , "
149 -> , "
150 -> , "
151 -> , "
152 -> , "
153 -> , "
154 -> , "
155 -> , "
156 -> , "
157 -> , "
158 -> , "
159 -> , "
160 -> , "
161 -> , "
162 -> , "
163 -> , "
164 -> , "
165 -> , "
166 -> , "
167 -> , "
168 -> , "
169 -> , "
170 -> , "
171 -> , "
172 -> , "
173 -> , "
174 -> , "
175 -> , "
176 -> , "
177 -> , "
178 -> , "
179 -> , "
180 -> , "
181 -> , "
182 -> , "
183 -> , "
184 -> , "
185 -> , "
186 -> , "
187 -> , "
188 -> , "
189 -> , "
190 -> , "
191 -> , "
192 -> , "
193 -> , "
194 -> , "
195 -> , "
196 -> , "
197 -> , "
198 -> , "
199 -> , "
200 -> , "
201 -> , "
202 -> , "
203 -> , "
204 -> , "
205 -> , "
206 -> , "
207 -> , "
208 -> , "
209 -> , "
210 -> , "
211 -> , "
212 -> , "
213 -> , "
214 -> , "
215 -> , "
216 -> , "
217 -> , "
218 -> , "
219 -> , "
220 -> , "
221 -> , "
222 -> , "
223 -> , "
224 -> , "
225 -> , "
226 -> , "
227 -> , "
228 -> , "
229 -> , "
230 -> , "
231 -> , "
232 -> , "
233 -> , "
234 -> , "
235 -> , "
236 -> , "
237 -> , "
238 -> , "
239 -> , "
240 -> , "
241 -> , "
242 -> , "
243 -> , "
244 -> , "
245 -> , "
246 -> , "
247 -> , "
248 -> , "
249 -> , "
250 -> , "
251 -> , "
252 -> , "
253 -> , "
254 -> , "
255 -> , "
256 -> , "
257 -> , "
258 -> , "
259 -> , "
260 -> , "
261 -> , "
262 -> , "
263 -> , "
264 -> , "
265 -> , "
266 -> , "
267 -> , "
268 -> , "
269 -> , "
270 -> , "
271 -> , "
272 -> , "
273 -> , "
274 -> , "
275 -> , "
276 -> , "
277 -> , "
278 -> , "
279 -> , "
280 -> , "
281 -> , "
282 -> , "
283 -> , "
284 -> , "
285 -> , "
286 -> , "
287 -> , "
288 -> , "
289 -> , "
290 -> , "
291 -> , "
292 -> , "
293 -> , "
294 -> , "
295 -> , "
296 -> , "
297 -> , "
298 -> , "
299 -> , "
300 -> , "
301 -> , "
302 -> , "
303 -> , "
304 -> , "
305 -> , "
306 -> , "
307 -> , "
308 -> , "
309 -> , "
310 -> , "
311 -> , "
312 -> , "
313 -> , "
314 -> , "
315 -> , "
316 -> , "
317 -> , "
318 -> , "
319 -> , "
320 -> , "
321 -> , "
322 -> , "
323 -> , "
324 -> , "
325 -> , "
326 -> , "
327 -> , "
328 -> , "
329 -> , "
330 -> , "
331 -> , "
332 -> , "
333 -> , "
334 -> , "
335 -> , "
336 -> , "
337 -> , "
338 -> , "
339 -> , "
340 -> , "
341 -> , "
342 -> , "
343 -> , "
344 -> , "
345 -> , "
346 -> , "
347 -> , "
348 -> , "
349 -> , "
350 -> , "
351 -> , "
352 -> , "
353 -> , "
354 -> , "
355 -> , "
356 -> , "
357 -> , "
358 -> , "
359 -> , "
360 -> , "
361 -> , "
362 -> , "
363 -> , "
364 -> , "
365 -> , "
366 -> , "
367 -> , "
368 -> , "
369 -> , "
370 -> , "
371 -> , "
372 -> , "
373 -> , "
374 -> , "
375 -> , "
376 -> , "
377 -> , "
378 -> , "
379 -> , "
380 -> , "
381 -> , "
382 -> , "
383 -> , "
384 -> , "
385 -> , "
386 -> , "
387 -> , "
388 -> , "
389 -> , "
390 -> , "
391 -> , "
392 -> , "
393 -> , "
394 -> , "
395 -> , "
396 -> , "
397 -> , "
398 -> , "
399 -> , "
400 -> , "
401 -> , "
402 -> , "
403 -> , "
404 -> , "
405 -> , "
406 -> , "
407 -> , "
408 -> , "
409 -> , "
410 -> , "
411 -> , "
412 -> , "
413 -> , "
414 -> , "
415 -> , "
416 -> , "
417 -> , "
418 -> , "
419 -> , "
420 -> , "
421 -> , "
422 -> , "
423 -> , "
424 -> , "
425 -> , "
426 -> , "
427 -> , "
428 -> , "
429 -> , "
430 -> , "
431 -> , "
432 -> , "
433 -> , "
434 -> , "
435 -> , "
436 -> , "
437 -> , "
438 -> , "
439 -> , "
440 -> , "
441 -> , "
442 -> , "
443 -> , "
444 -> , "
445 -> , "
446 -> , "
447 -> , "
448 -> , "
449 -> , "
450 -> , "
451 -> , "
452 -> , "
453 -> , "
454 -> , "
455 -> , "
456 -> , "
457 -> , "
458 -> , "
459 -> , "
460 -> , "
461 -> , "
462 -> , "
463 -> , "
464 -> , "
465 -> , "
466 -> , "
467 -> , "
468 -> , "
469 -> , "
470 -> , "
471 -> , "
472 -> , "
473 -> , "
474 -> , "
475 -> , "
476 -> , "
477 -> , "
478 -> , "
479 -> , "
480 -> , "
481 -> , "
482 -> , "
483 -> , "
484 -> , "
485 -> , "
486 -> , "
487 -> , "
488 -> , "

In [120]:

for k, v in grammar.items():
    temp = []
    t = False
    for vv in v:
        if isinstance(vv, str):
            temp.append(cht2t(vv))
        else:
            t = True
            temp.append(str(vv))
    if t: continue
    print(f"{k} -> " + " ".join(temp))

1 -> select distinct
15 -> group by
29 -> authorname ,
121 -> order by
214 -> = "
264 -> year ( curdate ( ) ) -
266 -> = year0
299 -> ) desc
314 -> like "
379 -> > year0
397 -> lt> "
418 -> count (
425 -> table .
430 -> citedpaperid ,
439 -> authorname0 "
448 -> " )
450 -> citingpaperid )
451 -> in (
463 -> ) =
465 -> \; select
469 -> year =
473 -> keyphrasename0 "
478 -> from alias
488 -> , "

In [89]:
k

Production(488)

In [85]:
ds

Dataset({
    features: ['sentence', 'logical_form', 'alignment', 'reverse_alignment', 'spans', 'lird'],
    num_rows: 433
})

In [132]:
for k, v in grammar.items():
    print(k)
    for vv in v:
        if isinstance(vv, str):
            print(cht2t(vv))
        else:
            print(vv)
    print("------------")

0
select distinct count ( table . paperid ) from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . paperid , table . year from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . paperid , table . year having count ( distinct table . keyphrasename ) > 1 order by table . year asc \;
select distinct count ( distinct table . paperid ) from alias where table . datasetname like " datasetname0 " \;
select distinct table . paperid , table . year from alias where table . keyphrasename = " keyphrasename0 " order by table . year desc \;
select distinct table . paperid from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . authorid from alias where table . venuename = " venuename0 " \;
select distinct count ( table . paperid ) from alias where table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct table . year from alias where table . keyphrasename = " keyphrasename0 " group by table . year order by table . year asc \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " \;
select distinct table . venueid from alias where table . keyphrasename = " keyphrasename0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct table . citedpaperid , count ( table . citedpaperid ) from alias where table . keyphrasename = " keyphrasename0 " group by table . citedpaperid order by count ( table . citedpaperid ) desc \;
select distinct table . datasetid from alias where table . authorname = " authorname0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " \;
select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct table . authorid from alias where table . authorname = " authorname0 " \;
select distinct table . authorname , count ( table . paperid ) from alias where table . authorname in ( " authorname0 " , " authorname1 " ) group by table . authorname order by count ( table . paperid ) desc \;
select distinct count ( table . paperid ) , table . keyphraseid from alias where table . year = year0 and table . venuename = " venuename0 " group by table . keyphraseid order by count ( table . paperid ) desc \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year >= year ( curdate ( ) ) - misc0 \;
1
2
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct table . citingpaperid from alias where table . paperid = table . citedpaperid group by table . citingpaperid having count ( distinct table . citedpaperid ) >= misc0 \;
select distinct count ( table . paperid ) from alias where table . authorname = " authorname0 " and table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " order by table . year desc \;
select distinct count ( table . paperid ) from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . venueid from alias where table . keyphrasename = " keyphrasename0 " \;
select distinct table . citedpaperid , count ( table . citedpaperid ) from alias where table . keyphrasename = " keyphrasename0 " group by table . citedpaperid order by count ( table . citedpaperid ) desc \;
select distinct table . year , table . paperid from alias where table . authorname in ( " authorname0 " , " authorname1 " ) group by table . paperid having count ( distinct table . authorid ) = 2 order by table . year desc \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct count ( distinct table . paperid ) from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct table . datasetid from alias where table . authorname = " authorname0 " \;
select distinct table . journalid from alias where table . year = year0 group by table . journalid \;
select distinct table . paperid from alias where table . authorname = " authorname0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year = year0 and table . venuename in ( " venuename0 " , " venuename1 " ) \;
select distinct table . authorid from alias where table . venuename = " venuename0 " \;
select distinct table . venueid from alias where table . authorname = " authorname0 " \;
select distinct count ( table . paperid ) , table . year from alias where table . venuename = " venuename0 " group by table . year order by count ( table . paperid ) desc \;
select distinct table . paperid from alias where table . authorname = " authorname0 " order by table . year desc \;
select distinct count ( table . citingpaperid ) , table . authorid from alias where table . authorname = " authorname0 " group by table . authorid order by count ( table . citingpaperid ) desc \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 and table . venuename = " venuename0 " \;
select distinct count ( table . citedpaperid ) , table . year from alias where table . authorname = " authorname0 " group by table . year \;
select distinct count ( table . citedpaperid ) from alias where table . authorname = " authorname0 " \;
select distinct table . keyphrasename , table . year from alias where table . authorname = " authorname0 " order by table . year desc \;
select distinct count ( distinct table . paperid ) from alias where table . authorname = " authorname0 " \;
select distinct table . year from alias where table . authorname = " authorname0 " order by table . year \;
select distinct count ( distinct table . paperid ) from alias where table . authorname lt> " authorname0 " and table . year > year0 and table . paperid in ( select table . paperid from alias where table . authorname like " authorname0 " ) \;
select distinct table . paperid from alias where table . datasetname = " datasetname0 " \;
select distinct count ( table . paperid ) from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " \;
select distinct count ( table . paperid ) from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . journalid , table . venueid from alias where table . authorname = " authorname0 " \;
select distinct count ( distinct table . citingpaperid ) , table . paperid from alias where table . year = year0 and table . venuename = " venuename0 " group by table . paperid order by count ( distinct table . citingpaperid ) desc \;
select distinct table . datasetid from alias where table . keyphrasename = " keyphrasename0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " order by table . year desc \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 \;
select distinct count ( table . paperid ) from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 \;
select distinct count ( table . paperid ) , table . authorid from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 group by table . authorid order by count ( table . paperid ) desc \;
select distinct table . paperid , table . year from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . paperid , table . year having count ( distinct table . keyphrasename ) > 1 order by table . year asc \;
select distinct count ( table . citedpaperid ) from alias where table . authorname = " authorname0 " \;
select distinct table . datasetid , table . year from alias where table . keyphrasename = " keyphrasename0 " order by table . year asc \;
select distinct table . citingpaperid from alias where table . keyphrasename = " keyphrasename0 " and table . venuename = " venuename0 " \;
select distinct table . authorid from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) and table . year > year0 group by table . authorid \;
select distinct table . authorid from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . authorid having count ( distinct table . keyphrasename ) > 1 \;
select distinct table . authorid from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . authorid having count ( distinct table . keyphrasename ) > 1 \;
select distinct count ( table . paperid ) from alias where table . year = year0 and table . venuename = " venuename0 " \;
3
select distinct table . authorname , count ( table . citingpaperid ) from alias where table . authorid = table . authorid group by table . authorname order by count ( table . citingpaperid ) desc \;
select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct count ( table . citingpaperid ) from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct table . paperid from alias where table . venuename = " venuename0 " \;
select distinct count ( table . paperid ) , table . authorid from alias where table . keyphrasename = " keyphrasename0 " group by table . authorid order by count ( table . paperid ) desc \;
select distinct count ( table . paperid ) from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . citingpaperid from alias where table . venuename = " venuename0 " group by table . citingpaperid having count ( distinct table . citedpaperid ) lt misc0 \;
select distinct count ( 1 ) , table . authorid from alias where table . authorname = " authorname0 " group by table . authorid order by count ( 1 ) desc \;
select distinct table . paperid from alias where table . year lt> year0 \;
select distinct table . authorid from alias where table . authorname = " authorname0 " \;
select distinct table . journalid from alias where table . year = year0 group by table . journalid \;
select distinct table . authorid from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . authorid having count ( distinct table . keyphrasename ) > 1 \;
select distinct table . keyphraseid from alias where table . authorname = " authorname0 " \;
select distinct table . citedpaperid , count ( table . citedpaperid ) from alias where table . authorname = " authorname0 " group by table . citedpaperid order by count ( table . citedpaperid ) desc \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . venuename = " venuename0 " \;
select distinct table . journalid from alias where table . authorname = " authorname0 " \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . venuename = " venuename0 " \;
select distinct table . authorname from alias where table . keyphrasename like " keyphrasename0 " \;
select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct table . authorid from alias where table . venuename in ( " venuename0 " , " venuename1 " ) group by table . authorid \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . venuename = " venuename0 " \;
select distinct count ( table . paperid ) from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . venueid from alias where table . authorname = " authorname0 " and table . year = year0 \;
3
select distinct table . paperid from alias where table . datasetname = " datasetname0 " and table . keyphrasename = " keyphrasename0 " and table . year = year0 and table . venuename = " venuename0 " \;
select distinct count ( table . keyphraseid ) , table . keyphraseid from alias where table . authorname = " authorname0 " group by table . keyphraseid order by count ( table . keyphraseid ) desc \;
select distinct count ( distinct table . paperid ) , table . authorid from alias where table . venuename = " venuename0 " group by table . authorid order by count ( distinct table . paperid ) desc \;
select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct count ( 1 ) from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " and table . venuename = " venuename0 " \;
select distinct count ( table . paperid ) from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 \;
select distinct table . authorid from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . datasetname = " datasetname0 " and table . keyphrasename = " keyphrasename0 " and table . year = year0 and table . venuename = " venuename0 " \;
select count ( table . paperid ) from alias where table . authorname = " authorname0 " \;
select distinct count ( table . paperid ) , table . year from alias where table . keyphrasename = " keyphrasename0 " group by table . year order by table . year desc \;
select distinct table . citedpaperid , count ( table . citedpaperid ) from alias where table . keyphrasename = " keyphrasename0 " group by table . citedpaperid order by count ( table . citedpaperid ) desc \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct count ( table . paperid ) from alias where table . keyphrasename = " keyphrasename0 " and table . year >= year0 \;
select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct table . title from alias where table . authorname like " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct table . paperid , table . year from alias where table . keyphrasename = " keyphrasename0 " order by table . year desc \;
select distinct table . datasetid from alias where table . keyphrasename = " keyphrasename0 " \;
select distinct table . paperid from alias where table . year = year0 and table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct table . paperid from alias where table . authorname = " authorname0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct count ( distinct table . paperid ) from alias where table . keyphrasename = " keyphrasename0 " \;
select distinct table . authorid from alias where table . venuename in ( " venuename0 " , " venuename1 " ) group by table . authorid \;
select distinct table . keyphraseid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct count ( distinct table . citingpaperid ) , table . authorid from alias where table . venuename = " venuename0 " group by table . authorid order by count ( distinct table . citingpaperid ) desc \;
select distinct table . authorid from alias where table . venuename = " venuename0 " \;
select distinct table . paperid from alias where table . datasetname = " datasetname0 " \;
4
select distinct table . authorid from alias where table . authorname = " authorname0 " \;
select distinct table . datasetid from alias where table . authorname = " authorname0 " \;
select distinct count ( table . citedpaperid ) , table . venuename from alias where table . venuename in ( " venuename0 " , " venuename1 " ) group by table . venuename \;
select distinct table . authorid from alias where table . venuename in ( " venuename0 " , " venuename1 " ) group by table . authorid having count ( distinct table . venueid ) = 2 \;
select distinct count ( distinct table . paperid ) from alias where table . keyphrasename = " keyphrasename0 " \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 and table . venuename = " venuename0 " \;
4
select distinct table . paperid from alias where table . keyphrasename in ( " keyphrasename0 " , " keyphrasename1 " ) group by table . paperid having count ( distinct table . keyphraseid ) = 1 \;
select distinct table . paperid , table . year from alias where table . keyphrasename = " keyphrasename0 " order by table . year desc \;
select distinct count ( distinct table . paperid ) , table . authorid from alias where table . venuename = " venuename0 " group by table . authorid order by count ( distinct table . paperid ) desc \;
select distinct count ( table . paperid ) , table . keyphraseid from alias where table . year = year0 and table . venuename = " venuename0 " group by table . keyphraseid order by count ( table . paperid ) desc \;
select distinct count ( table . paperid ) , table . paperid from alias where table . datasetname = " datasetname0 " group by table . paperid order by count ( table . paperid ) desc \;
5
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " and table . year = year0 and table . venuename = " venuename0 " \;
select distinct count ( distinct table . paperid ) from alias where table . keyphrasename = " keyphrasename0 " \;
select distinct table . paperid from alias where table . authorname = " authorname0 " \;
select distinct count ( distinct table . paperid ) from alias where table . authorname = " authorname0 " \;
select distinct table . venueid from alias where table . datasetname = " datasetname0 " \;
select distinct table . authorname , table . paperid from alias where table . authorname lt> " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
select distinct table . venueid from alias where table . authorname = " authorname0 " \;

select distinct table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct table . paperid from alias where table . keyphrasename = " keyphrasename0 " \;
------------
3
select distinct table . paperid from alias where table . datasetname = " datasetname0 " \;
select distinct table . authorid , table . paperid from alias where table . authorname = " authorname0 " and table . keyphrasename = " keyphrasename0 " \;
------------
4
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct count ( distinct table . paperid ) from alias where table . authorname = " authorname0 " \;
------------
5
select distinct table . paperid from alias where table . authorname = " authorname0 " \;
select distinct table . paperid from alias where table . year = year0 and table . venuename = " venuename0 " \;
------------
6
select distinct table . keyphraseid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct table . citedpaperid , count ( table . citedpaperid ) from alias where table . keyphrasename = " keyphrasename0 " group by table . citedpaperid order by count ( table . citedpaperid ) desc \;
------------
7
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . year = year0 \;
select distinct table . paperid from alias where table . venuename = " venuename0 " \;
------------
8
select distinct table . paperid from alias where table . authorname = " authorname0 " and table . authorname = " authorname1 " \;
select distinct count ( table . citedpaperid ) from alias where table . authorname = " authorname0 " \;
------------
9
select distinct table . paperid from alias where table . authorname = " authorname0 " order by table . year desc \;
select distinct table . authorid from alias where table . venuename = " venuename0 " \;
------------

In [79]:
grammar[450]

['Y', '3']

In [121]:
type(grammar)

sksequitur.api.Grammar

In [11]:
for inst in ds:
    parser.feed(inst["lird"])

In [12]:
from sksequitur import Grammar

In [119]:
for i in grammar.keys():
    type(i)

In [13]:
grammar = Grammar(parser.tree)

In [14]:
print(grammar)

0 -> 1 2 3 ) 4 5 6 7 8 9 10 9 11 3 12 _ 13 14 15 16 17 18 17 7 19 20 21 22 23 24 25 23 26 27 28 19 29 5 30 31 32 26 33 34 35 36 37 38 32 39 , 40 41 36 42 43 44 45 37 46 , 3 47 38 36 46 47 48 49 50 25 51 52 53 54 55 56 57 58 59 60 61 62 63 22 64 49 65 66 67 58 68 69 70 69 71 23 21 72 73 68 74 75 76 77 78 60 79 73 23 80 81 20 82 83 35 84 70 85 61 84 86 87 88 51 89 90 91 92 93 80 83 94 95 16 95 96 62 97 98 99 70 99 100 8 101 10 101 102 46 103 70 35 104 105 106 103 107 87 108 109 110 111 112 113 114 115 116 117 118 119 113 87 120 118 121 122 119 123 110 124 121 87 123 125 126 124 127 128 129 130 131 132 133 134 135 136 135 137 138 35 139 140 141 88 142 143 144 141 145 96 146 72 147 20 116 148 149 148 150 151 152 153 154 155 156 15 157 139 158 159 160 97 74 161 162 163 46 164 165 97 166 167 168 169 170 146 171 172 90 78 173 42 174 115 175 170 176 172 170 177 178 179 53 167 74 180 76 181 60 182 183 184 185 154 186 187 188 189 190 98 166 191 192 190 193 86 194 194 195 190 194 196 197 94 198 199 200 46 127 201 34 199 178 79 202 35 203 200 134 197 204 117 24 205 206 207 208 205 145 209 133 210 124 145 175 203 176 211 177 212 213 214 149 151 189 202 204 215 216 217 218 106 219 220 221 220 199 222 223 82 224 225 0 226 227 218 97 228 229 132 230 231 232 158 233 234 235 236 237 238 238 151 239 240 41 161 241 201 242 243 244 245 210 246 247 248 249 250 251 241 252 158 253 118 138 254 127 255 254 242 247 201 256 257 258 116 259 251 260 261 262 232 263 264 265 184 266 267 54 268 208 269 63 168 143 269 270 271 272 273 260 274 38 275 263 258 270 276 277 250 278 279 277 252 280 281 259 282 275 82 283 284 283 151 285 80 203 59 286 257 287 278 227 288 289 239 290 291 211 292 270 243 291 182 293 294 295 296 297 298 299 298 71 265 278 300 297 253 301 302 303 133 262 119 304 305 302 306 307 245 264 308 309 246 243 253 280 224 310 63 311 312 313 314 267 82 315 279 316 315 317 318 319 320 319 t 321 311 322 323 207 107 324 325 326 327 310 116 328 329 330 331 168 299 127 308 325 300 332 333 334 335 336 337 338 339 330 221 332 339 340 341 342 343 344 345 321 196 282 346 347 348 88 349 143 350 351 352 353 354 355 356 155 357 358 92 359 360 75 361 362 363 239 179 314 332 38 347 79 349 278 221 364 365 366 367 152 368 358 369 322 370 371 278 372 258 158 373 374 375 376 354 377 349 184 378 315 379 380 381 382 138 311 383 42 313 296 364 384 385 386 387 388 385 133 354 79 389 390 336 324 333 367 369 391 392 325 331 365 338 393 394 395 325 396 315 396 397 398 313 394 313 119 399 228 18 228 328 400 371 401 402 403 378 383 404 138 405 127 406 405 407 379 408 352 316 409 163 410 311 281 401 403 411 412 411 264 375 90 413 392 393 412 414 85 415 a 416 417 418 419 r i 420 d _ 421 422 423 0 419 360 424 324 373 425 426 90 427 128 131 383 133 404 373 90 428 393 127 429 288 417 87 410 430 229 383 399 322 431 424 432 433 434 435 88 436 437 438 435 309 350 72 439 282 390 440 441 322 398 87 289 369 442 335 443 437 153 444 445 446 393 264 312 337 432 447 448 449 278 317 450 451 307 325 433 130 452 453 65 454 71 455 264 455 448 456 457 185 356 445 116 71 452 456 458 459 243 460 442 263 448 132 42 87 407 326 461 355 206 462 463 464 243 78 243 388 465 355 380 456 413 347 266 466 266 354 467 396 456 42 372 296 444 264 439 184 414 72 322 366 324 > 78 0 434 466 350 433 330 338 468 425 408 373 72 346 292 446 413 391 469 459 301 470 130 471 472 473 461 474 475 152 476 477 478 479 480 481 239 474 482 483 476 482 484 485 486 487 171 488 127 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 330 505 506 24 507 427 484 508 509 458 152 510 325 511 512 503 513 239 514 480 510 486 515 354 516 517 518 309 519 520 287 498 521 516 522 518 325 505 468 523 513 524 499 491 525 525 421 d 526 325 527 528 529 186 > 188 530 531 532 , 533 534 535 364 481 130 536 513 285 m 303 537 538 230 539 530 540 541 542 543 491 543 544 528 287 545 546 547 187 533 548 549 548 515 364 550 430 551 522 478 539 524 552 553 554 555 556 557 448 522 558 451 559 537 _ 133 461 560 561 562 558 188 239 563 440 e 564 565 566 309 563 567 24 568 521 569 570 571 549 539 512 477 572 556 364 510 509 555 544 443 571 573 499 574 507 552 575 576 496 364 573 503 347 569 503 577 461 578 171 514 489 519 561 577 325 549 579 42 544 502 580 _ 581 582 583 544 584 239 185 552 97 87 585 579 457 586 529 587 588 586 567 97 566 570 536 589 461 514 522 530 590 461 467 501 461 586 570 493 591 560 497 548 550 87 138 592 593 594 579 38 87 595 470 596 584 538 38 292 553 597 548 592 122 554 325 196 545 578 487 592 449 548 87 565 395 598 239 508 565 535 599 ;
1 -> 600 223                                      select_distinct_
2 -> c 601 n t (                                  count(
3 -> 602 438                                      _table.paperid_
4 -> _ 603                                        _from_alias_where
5 -> 602 27                                       _table.year
6 -> 272 56                                       _=_year0_and_table.venuename_=_"venuename
7 -> 105 294 12 28                                0"_;select_distinct_table.paperid_,_table.year_from_alias_where_table.keyphrasename_
8 -> 306 604                                      in_(
9 -> 605 606                                      _"keyphrasename
10 -> 607 ,                                       0"_,
11 -> 102 29                                      1"_)_group_by
12 -> , 5                                         ,_table.year
13 -> 608 140                                     having_count(_distinct_table.
14 -> 606 _                                       keyphrasename_
15 -> 609 30                                      )_>_1_order_by_table.year_asc_;select_distinct_
16 -> 209 41                                      count(_distinct_table.paperid_)_from_alias_where_table.
17 -> 610 611                                     datasetname
18 -> _ 595                                       _like_"
19 -> 65 606 607                                  =_"keyphrasename0"_
20 -> 125 93                                      order_by_table.year_desc_;select_distinct_
21 -> 271 6 70                                    table.paperid_from_alias_where_table.year_=_year0_and_table.venuename_=_"venuename0"_;select_distinct_table.
22 -> 612 192                                     authorid_from_alias_where_table.
23 -> 613 105                                     venuename_=_"venuename0"_;select_distinct_
24 -> 2 _                                         count(_
25 -> 294 41                                      table.paperid_)_from_alias_where_table.
26 -> 31 614 615                                  table.paperid_from_alias_where_table.authorname_=_"authorname0"_and_table.authorname_=_"authorname1"_;select_distinct_table.
27 -> y e a r                                     year
28 -> 229 14                                      _from_alias_where_table.keyphrasename_
29 -> g 616 u p 617                               group_by
30 -> 92 160                                      _order_by_table.year_asc_;select_distinct_
31 -> 80 45 38                                    table.paperid_from_alias_where_table.authorname_=_"authorname0"_and_table.
32 -> 55 618                                      year_=_year0_;select_distinct_
33 -> 438 47                                      paperid_from_alias_where_table.authorname_=_"authorname0"_
34 -> 120 97                                      ;select_distinct_table.
35 -> 619 441                                     venueid_from_alias_where_table.
36 -> 14 19                                       keyphrasename_=_"keyphrasename0"_
37 -> 34 33                                       ;select_distinct_table.paperid_from_alias_where_table.authorname_=_"authorname0"_
38 -> a 620                                       and_table.
39 -> 97 621                                      table.citedpaperid_
40 -> 465 39                                      _count(_table.citedpaperid_
41 -> 133 127                                     )_from_alias_where_table.
42 -> 29 602                                      group_by_table.
43 -> 622 623 97                                  citedpaperid_order_by_count(_table.citedpaperid_)_desc_;select_distinct_table.
44 -> 610 192                                     datasetid_from_alias_where_table.
45 -> 614 607                                     authorname_=_"authorname0"_
46 -> 48 624                                      ;select_distinct_table.authorid_
47 -> 127 45                                      from_alias_where_table.authorname_=_"authorname0"_
48 -> 34 612                                      ;select_distinct_table.author
49 -> 611 _                                       name_
50 -> , 465                                       ,_count(_
51 -> 52 8 625 10 625 534                         authorname_in_(_"authorname0"_,_"authorname1"_)_group_by_table.
52 -> 626 _                                       authorname_
53 -> 627 623                                     order_by_count(_table.paperid_)_desc_;select_distinct_
54 -> 63 628 441                                  count(_table.paperid_)_,_table.keyphraseid_from_alias_where_table.
55 -> 27 272                                      year_=_year0
56 -> 130 613                                     _and_table.venuename_=_"venuename
57 -> 107 64                                      0"_group_by_table.keyphrase
58 -> 624 108 73                                  id_order_by_count(_table.paperid_)_desc_;select_distinct_table.paperid_from_alias_where_table.authorname_=_"authorname0"_and_table.
59 -> 225 344                                     year_>=_year(curdate())_-_
60 -> 286 126                                     misc0_;select_distinct_count(_
61 -> 39 41                                       table.citedpaperid_)_from_alias_where_table.
62 -> 81 120                                      authorname_=_"authorname0"_;select_distinct_
63 -> 629 138                                     count(_table.paperid_)_,_table.
64 -> 628 e                                       keyphrase
65 -> 78 "                                        =_"
66 -> 64 611                                      keyphrasename
67 -> 107 612                                     0"_group_by_table.author
68 -> 630 615                                     authorname_=_"authorname1"_;select_distinct_table.
69 -> 72 84                                       paperid_from_alias_where_table.keyphrasename_=_"keyphrasename
70 -> 105 97                                      0"_;select_distinct_table.
71 -> 607 38                                      0"_and_table.
72 -> 438 127                                     paperid_from_alias_where_table.
73 -> 81 38                                       authorname_=_"authorname0"_and_table.
74 -> 631 72                                      citingpaperid_from_alias_where_table.
75 -> 293 39 42                                   paperid_=_table.citedpaperid_group_by_table.
76 -> 631 89 621                                  citingpaperid_having_count(_distinct_table.citedpaperid_
77 -> 133 >                                       )_>
78 -> = _                                         =_
79 -> 632 127                                     table.paperid_)_from_alias_where_table.
80 -> 294 127                                     table.paperid_from_alias_where_table.
81 -> 630 607                                     authorname_=_"authorname0"_
82 -> 629 127                                     count(_table.paperid_)_from_alias_where_table.
83 -> 84 151 56 70                                keyphrasename_=_"keyphrasename0"_and_table.year_=_year0_and_table.venuename_=_"venuename0"_;select_distinct_table.
84 -> 66 284 66                                   keyphrasename_=_"keyphrasename
85 -> 621 50                                      citedpaperid_,_count(_
86 -> 107 43                                      0"_group_by_table.citedpaperid_order_by_count(_table.citedpaperid_)_desc_;select_distinct_table.
87 -> 27 _                                        year_
88 -> 138 72                                      ,_table.paperid_from_alias_where_table.
89 -> 438 13                                      paperid_having_count(_distinct_table.
90 -> 612 624                                     authorid_
91 -> 633 2                                       )_=_2
92 -> _ 125                                       _order_by_table.year
93 -> _ 145                                       _desc_;select_distinct_
94 -> 90 88                                       authorid_,_table.paperid_from_alias_where_table.
95 -> 73 84 105                                   authorname_=_"authorname0"_and_table.keyphrasename_=_"keyphrasename0"_;select_distinct_
96 -> 97 44                                       table.datasetid_from_alias_where_table.
97 -> 634 b 635 .                                 table.
98 -> 195 200 42 137 34                           journalid_from_alias_where_table.year_=_year0_group_by_table.journalid_;select_distinct_table.
99 -> 72 104                                      paperid_from_alias_where_table.authorname_=_"authorname
100 -> 151 236                                    0"_and_table.year_=_year0_and_table.venuename_
101 -> 605 636                                    _"venuename
102 -> 637 133                                    1"_)_
103 -> 127 248                                    from_alias_where_table.venuename_=_"venuename
104 -> 594 284 594                                authorname_=_"authorname
105 -> 607 120                                    0"_;select_distinct_
106 -> 63 87                                      count(_table.paperid_)_,_table.year_
107 -> 607 42                                     0"_group_by_table.
108 -> 53 80                                      order_by_count(_table.paperid_)_desc_;select_distinct_table.paperid_from_alias_where_table.
109 -> 104 607                                    authorname_=_"authorname0"_
110 -> 20 24                                      order_by_table.year_desc_;select_distinct_count(_
111 -> 97 141                                     table.citingpaperid_)_
112 -> 138 90                                     ,_table.authorid_
113 -> 123 42                                     from_alias_where_table.authorname_=_"authorname0"_group_by_table.
114 -> 90 309                                     authorid_order_by_count(_
115 -> 111 145                                    table.citingpaperid_)_desc_;select_distinct_
116 -> 80 638 284 638                             table.paperid_from_alias_where_table.keyphrasename_=_"keyphrasename
117 -> 215 105                                    0"_and_table.year_=_year0_and_table.venuename_=_"venuename0"_;select_distinct_
118 -> 24 290                                     count(_table.citedpaperid_)_
119 -> 138 87                                     ,_table.year_
120 -> ; 1                                        ;select_distinct_
121 -> 123 34                                     from_alias_where_table.authorname_=_"authorname0"_;select_distinct_table.
122 -> 638 _                                      keyphrasename_
123 -> 127 109                                    from_alias_where_table.authorname_=_"authorname0"_
124 -> 144 639                                    distinct_table.paperid_)_
125 -> 640 5                                      order_by_table.year
126 -> 618 24                                     _;select_distinct_count(_
127 -> 603 602                                    from_alias_where_table.
128 -> 641 642 643 71                             authorname_lt>_"authorname0"_and_table.
129 -> 644 188                                    year_>_year0
130 -> 359 620                                    _and_table.
131 -> 438 645 600 80                             paperid_in_(_select_table.paperid_from_alias_where_table.
132 -> 593 646                                    authorname_like_"authorname0"_
133 -> ) _                                        )_
134 -> 34 168                                     ;select_distinct_table.paperid_from_alias_where_table.datasetname_=_"datasetname
135 -> 105 167                                    0"_;select_distinct_count(_table.paperid_)_from_alias_where_table.year_=_year0_and_table.venuename_=_"venuename0"_;select_distinct_table.
136 -> 72 161                                     paperid_from_alias_where_table.keyphrasename_=_"keyphrasename
137 -> 647 648 649                                journalid_
138 -> , 602                                      ,_table.
139 -> 147 120                                    authorname_=_"authorname0"_;select_distinct_
140 -> 24 144                                     count(_distinct_table.
141 -> 631 639                                    citingpaperid_)_
142 -> 650 248                                    year_=_year0_and_table.venuename_=_"venuename
143 -> 107 438 309                                0"_group_by_table.paperid_order_by_count(_
144 -> 223 97                                     distinct_table.
145 -> 651 652                                    desc_;select_distinct_
146 -> 161 70                                     keyphrasename_=_"keyphrasename0"_;select_distinct_table.
147 -> 653 646                                    authorname_=_"authorname0"_
148 -> 151 126                                    0"_and_table.year_=_year0_;select_distinct_count(_
149 -> 79 161                                     table.paperid_)_from_alias_where_table.keyphrasename_=_"keyphrasename
150 -> 377 161                                    table.paperid_)_,_table.authorid_from_alias_where_table.keyphrasename_=_"keyphrasename
151 -> 71 654                                     0"_and_table.year_=_year0
152 -> _ 42                                       _group_by_table.
153 -> 114 632                                    authorid_order_by_count(_table.paperid_)_
154 -> 145 294                                    desc_;select_distinct_table.paperid_
155 -> 655 656 534 657                            ,_table.year_from_alias_where_table.keyphrasename_in_(_"keyphrasename0"_,_"keyphrasename1"_)_group_by_table.paperid_,_table.year_
156 -> 13 122                                     having_count(_distinct_table.keyphrasename_
157 -> 118 127                                    count(_table.citedpaperid_)_from_alias_where_table.
158 -> 97 372                                     table.datasetid_
159 -> 655 274 125                                ,_table.year_from_alias_where_table.keyphrasename_=_"keyphrasename0"_order_by_table.year
160 -> 359 652                                    _asc_;select_distinct_
161 -> 122 597                                    keyphrasename_=_"keyphrasename
162 -> 213 70                                     0"_and_table.venuename_=_"venuename0"_;select_distinct_table.
163 -> 658 38 483 90                              authorid_from_alias_where_table.keyphrasename_in_(_"keyphrasename0"_,_"keyphrasename1"_)_and_table.year_>_year0_group_by_table.authorid_
164 -> 659 660                                    from_alias_where_table.keyphrasename_in_(_"keyphrasename0"_,_"keyphrasename1"_)_
165 -> 295 156 609 618                            group_by_table.authorid_having_count(_distinct_table.keyphrasename_)_>_1_;select_distinct_
166 -> 658 165                                    authorid_from_alias_where_table.keyphrasename_in_(_"keyphrasename0"_,_"keyphrasename1"_)_group_by_table.authorid_having_count(_distinct_table.keyphrasename_)_>_1_;select_distinct_
167 -> 82 202                                     count(_table.paperid_)_from_alias_where_table.year_=_year0_and_table.venuename_=_"venuename0"_;select_distinct_table.
168 -> 72 250                                     paperid_from_alias_where_table.datasetname_=_"datasetname
169 -> 70 94                                      0"_;select_distinct_table.authorid_,_table.paperid_from_alias_where_table.
170 -> 147 38                                     authorname_=_"authorname0"_and_table.
171 -> 661 50                                     authorname_,_count(_

In [14]:

myList = dataset['train']['sentence']
sorted_inds = [i[0] for i in sorted(enumerate(myList), key=lambda x:x[1])]
for i in sorted_inds:
    print(dataset['train'][i]['sentence'])
    print(dataset['train'][i]['lird'])
    print(dataset['train'][i]['logical_form'])    
    print("----")

At which conferences does authorname0 publish ?
select distinct table.venueid from alias where table.authorname = "authorname0" ;
select distinct paperalias0.venueid from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
Authors of papers on keyphrasename0
select distinct table.authorname from alias where table.keyphrasename like "keyphrasename0" ;
select distinct authoralias0.authorname from author as authoralias0 , keyphrase as keyphrasealias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where keyphrasealias0.keyphrasename like "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperkeyphrasealias0.paperid ;
----
Current research on keyphrasename0
select distinct table.paperid , table.year from alias where table.keyphrasename = "keyphrasename0" order by table.year desc ;
select distinct paperalias0.paperid , paperalias0.year from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid order by paperalias0.year desc ;
----
Does authorname0 do keyphrasename0 ?
select distinct table.authorid , table.paperid from alias where table.authorname = "authorname0" and table.keyphrasename = "keyphrasename0" ;
select distinct authoralias0.authorid , paperalias0.paperid from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
Does authorname0 ever collaborated with authorname1 ?
select distinct table.paperid from alias where table.authorname = "authorname0" and table.authorname = "authorname1" ;
select distinct writesalias0.paperid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and authoralias1.authorname = "authorname1" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
Does authorname0 have a paper in venuename0 in year0 ?
select distinct table.paperid from alias where table.authorname = "authorname0" and table.year = year0 and table.venuename = "venuename0" ;
select distinct paperalias0.paperid from author as authoralias0 , paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
Does authorname0 have more papers than authorname1 ?
select distinct table.authorname , count( table.paperid ) from alias where table.authorname in ( "authorname0" , "authorname1" ) group by table.authorname order by count( table.paperid ) desc ;
select distinct authoralias0.authorname , count( writesalias0.paperid ) from author as authoralias0 , writes as writesalias0 where authoralias0.authorname in ( "authorname0" , "authorname1" ) and writesalias0.authorid = authoralias0.authorid group by authoralias0.authorname order by count( writesalias0.paperid ) desc ;
----
Earliest keyphrasename0 paper with keyphrasename1
select distinct table.paperid , table.year from alias where table.keyphrasename in ( "keyphrasename0" , "keyphrasename1" ) group by table.paperid , table.year having count( distinct table.keyphrasename ) > 1 order by table.year asc ;
select distinct paperalias0.paperid , paperalias0.year from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename in ( "keyphrasename0" , "keyphrasename1" ) and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid group by paperalias0.paperid , paperalias0.year having count( distinct keyphrasealias0.keyphrasename ) > 1 order by paperalias0.year asc ;
----
Earliest paper published by authorname0
select distinct table.paperid , table.year from alias where table.authorname = "authorname0" and table.year = ( select min( table.year ) from alias where table.authorname = "authorname0" ) ;
select distinct paperalias0.paperid , paperalias0.year from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year = ( select min( paperalias1.year ) from author as authoralias1 , paper as paperalias1 , writes as writesalias1 where authoralias1.authorname = "authorname0" and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = paperalias1.paperid ) and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
Fetch me the most cited publications for keyphrasename0
select distinct table.citedpaperid , count( table.citingpaperid ) from alias where table.keyphrasename = "keyphrasename0" group by table.citedpaperid order by count( table.citingpaperid ) desc ;
select distinct citealias0.citedpaperid , count( citealias0.citingpaperid ) from cite as citealias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = citealias0.citedpaperid and paperalias0.paperid = paperkeyphrasealias0.paperid group by citealias0.citedpaperid order by count( citealias0.citingpaperid ) desc ;
----
Find journals about keyphrasename0 .
select distinct table.journalid from alias where table.keyphrasename = "keyphrasename0" group by table.journalid ;
select distinct paperalias0.journalid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid group by paperalias0.journalid ;
----
Give me the papers written by authorname0 before year0 .
select distinct table.paperid from alias where table.authorname = "authorname0" and table.year lt year0 ;
select distinct paperalias0.paperid from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year lt year0 and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
Has authorname0 and authorname1 written a paper together ?
select distinct table.paperid from alias where table.authorname = "authorname0" and table.authorname = "authorname1" ;
select distinct writesalias0.paperid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and authoralias1.authorname = "authorname1" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
Has authorname0 published any papers ?
select distinct count( distinct table.paperid ) from alias where table.authorname = "authorname0" ;
select distinct count( distinct writesalias0.paperid ) from author as authoralias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid ;
----
Has authorname0 written any papers in year0 ?
select distinct count( table.paperid ) , table.authorid from alias where table.authorname = "authorname0" and table.year = year0 group by table.authorid ;
select distinct count( paperalias0.paperid ) , writesalias0.authorid from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year = year0 and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid group by writesalias0.authorid ;
----
Have authorname0 and authorname1 written a paper together ?
select distinct table.paperid from alias where table.authorname = "authorname0" and table.authorname = "authorname1" ;
select distinct writesalias0.paperid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and authoralias1.authorname = "authorname1" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
How many articles were published in the journalname0 journal in year0 ?
select distinct count( table.paperid ) from alias where table.journalname = "journalname0" and table.year = year0 ;
select distinct count( paperalias0.paperid ) from journal as journalalias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where journalalias0.journalname = "journalname0" and paperalias0.journalid = journalalias0.journalid and paperalias0.paperid = paperkeyphrasealias0.paperid and paperalias0.year = year0 ;
----
How many authors published at venuename0 in year0 ?
select distinct count( table.paperid ) from alias where table.year = year0 and table.venuename = "venuename0" ;
select distinct count( paperalias0.paperid ) from paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.paperid = paperalias0.paperid ;
----
How many citation authorname0 has ?
select distinct count( table.citedpaperid ) from alias where table.authorname = "authorname0" ;
select distinct count( citealias0.citedpaperid ) from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citedpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
How many citations does authorname0 's keyphrasename0 paper have ?
select distinct count( table.citingpaperid ) from alias where table.authorname = "authorname0" and table.keyphrasename = "keyphrasename0" ;
select distinct count( citealias0.citingpaperid ) from author as authoralias0 , cite as citealias0 , keyphrase as keyphrasealias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = citealias0.citedpaperid and writesalias0.paperid = paperkeyphrasealias0.paperid ;
----
How many citations does authorname0 has ?
select distinct count( table.citedpaperid ) from alias where table.authorname = "authorname0" ;
select distinct count( citealias0.citedpaperid ) from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citedpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
How many citations does authorname0 have
select distinct count( table.citedpaperid ) from alias where table.authorname = "authorname0" ;
select distinct count( citealias0.citedpaperid ) from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citedpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
How many citations does authorname0 have per year
select distinct count( table.citedpaperid ) , table.year from alias where table.authorname = "authorname0" group by table.year ;
select distinct count( citealias0.citedpaperid ) , paperalias0.year from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citedpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid group by paperalias0.year ;
----
How many co-authors has authorname0 had ?
select distinct count( distinct table.authorid ) from alias where table.authorname lt> "authorname0" and table.paperid in ( select table.paperid from alias where table.authorname = "authorname0" ) ;
select distinct count( distinct authoralias0.authorid ) from author as authoralias0 , writes as writesalias0 where authoralias0.authorname lt> "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid in ( select writesalias1.paperid from author as authoralias1 , writes as writesalias1 where authoralias1.authorname = "authorname0" and writesalias1.authorid = authoralias1.authorid ) ;
----
How many keyphrasename0 papers has authorname0 written ?
select distinct count( distinct table.paperid ) from alias where table.authorname = "authorname0" and table.keyphrasename = "keyphrasename0" ;
select distinct count( distinct writesalias0.paperid ) from author as authoralias0 , keyphrase as keyphrasealias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperkeyphrasealias0.paperid ;
----
How many paper has authorname0 written about keyphrasename0 ?
select distinct count( distinct table.paperid ) from alias where table.authorname = "authorname0" and table.keyphrasename = "keyphrasename0" ;
select distinct count( distinct writesalias0.paperid ) from author as authoralias0 , keyphrase as keyphrasealias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperkeyphrasealias0.paperid ;
----
How many papers are about keyphrasename0 ?
select distinct count( distinct table.paperid ) from alias where table.keyphrasename = "keyphrasename0" ;
select distinct count( distinct paperalias0.paperid ) from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid ;
----
How many papers are in keyphrasename0 ?
select distinct count( distinct table.paperid ) from alias where table.keyphrasename = "keyphrasename0" ;
select distinct count( distinct paperalias0.paperid ) from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid ;
----
How many papers are presented in venuename0 year0 ?
select distinct count( table.paperid ) from alias where table.year = year0 and table.venuename = "venuename0" ;
select distinct count( paperalias0.paperid ) from paper as paperalias0 , venue as venuealias0 where paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" ;
----
How many papers by authorname0 and authorname1
select distinct count( 1 ) from alias where table.authorname = "authorname0" and table.authorname = "authorname1" ;
select distinct count( 1 ) from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and authoralias1.authorname = "authorname1" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
How many papers did authorname0 cite ?
select distinct count( table.citedpaperid ) from alias where table.authorname = "authorname0" ;
select distinct count( citealias0.citedpaperid ) from author as authoralias0 , cite as citealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = citealias0.citingpaperid ;
----
How many papers did authorname0 publish at venuename0 ?
select distinct count( table.paperid ) from alias where table.authorname = "authorname0" and table.venuename = "venuename0" ;
select distinct count( paperalias0.paperid ) from author as authoralias0 , paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
How many papers did authorname0 publish in year0 ?
select distinct count( table.paperid ) from alias where table.authorname = "authorname0" and table.year = year0 ;
select distinct count( writesalias0.paperid ) from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year = year0 and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
How many papers did authorname0 write last year ?
select distinct count( table.paperid ) from alias where table.authorname = "authorname0" and table.year == year(curdate()) - misc0 ;
select distinct count( paperalias0.paperid ) from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year == year(curdate()) - misc0 and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
How many papers do authorname0 and authorname1 have ?
select distinct count( 1 ) from alias where table.authorname = "authorname0" and table.authorname = "authorname1" ;
select distinct count( 1 ) from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and authoralias1.authorname = "authorname1" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
How many papers does authorname0 have
select distinct count( distinct table.paperid ) from alias where table.authorname = "authorname0" ;
select distinct count( distinct writesalias0.paperid ) from author as authoralias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid ;
----
How many papers does authorname0 have ?
select distinct count( distinct table.paperid ) from alias where table.authorname = "authorname0" ;
select distinct count( distinct writesalias0.paperid ) from author as authoralias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid ;

select distinct table.paperid from alias where table.keyphrasename in ( "keyphrasename0" , "keyphrasename1" ) group by table.paperid having count( distinct table.keyphraseid ) = 1 ;
select distinct paperkeyphrasealias0.paperid from keyphrase as keyphrasealias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename in ( "keyphrasename0" , "keyphrasename1" ) group by paperkeyphrasealias0.paperid having count( distinct keyphrasealias0.keyphraseid ) = 1 ;
----
author published venuename0 year0
select distinct table.authorid from alias where table.year = year0 and table.venuename = "venuename0" ;
select distinct writesalias0.authorid from paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.paperid = paperalias0.paperid ;
----
author who wrote papers with authorname0
select distinct table.authorid from alias where table.authorname = "authorname0" ;
select distinct authoralias1.authorid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
authorname0
select distinct table.paperid from alias where table.authorname = "authorname0" ;
select distinct paperalias0.paperid from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
authorname0 's keyphrasename0 venuename0 paper
select distinct table.paperid from alias where table.authorname = "authorname0" and table.keyphrasename = "keyphrasename0" and table.venuename = "venuename0" ;
select distinct paperalias0.paperid from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , venue as venuealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.paperid = paperalias0.paperid ;
----
authorname0 's paper about keyphrasename0
select distinct table.authorid , table.paperid from alias where table.authorname = "authorname0" and table.keyphrasename = "keyphrasename0" ;
select distinct authoralias0.authorid , paperalias0.paperid from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
authorname0 's papers in year0
select distinct table.paperid from alias where table.authorname = "authorname0" and table.year = year0 ;
select distinct paperalias0.paperid from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year = year0 and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
authorname0 's papers on keyphrasename0
select distinct table.authorid , table.paperid from alias where table.authorname = "authorname0" and table.keyphrasename = "keyphrasename0" ;
select distinct authoralias0.authorid , paperalias0.paperid from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
authorname0 and authorname1 as co-authors
select distinct table.paperid from alias where table.authorname = "authorname0" and table.authorname = "authorname1" ;
select distinct writesalias0.paperid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and authoralias1.authorname = "authorname1" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
authorname0 keyphrasename0 paper
select distinct table.authorid , table.paperid from alias where table.authorname = "authorname0" and table.keyphrasename = "keyphrasename0" ;
select distinct authoralias0.authorid , paperalias0.paperid from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
authorname0 papers
select distinct table.paperid from alias where table.authorname = "authorname0" ;
select distinct writesalias0.paperid from author as authoralias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid ;
----
authorname0 publication year0
select distinct table.paperid from alias where table.authorname = "authorname0" and table.year = year0 ;
select distinct paperalias0.paperid from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year = year0 and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
authors in keyphrasename0 for keyphrasename1
select distinct table.authorid from alias where table.keyphrasename in ( "keyphrasename0" , "keyphrasename1" ) group by table.authorid having count( distinct table.keyphrasename ) > 1 ;
select distinct writesalias0.authorid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where keyphrasealias0.keyphrasename in ( "keyphrasename0" , "keyphrasename1" ) and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.paperid = paperalias0.paperid group by writesalias0.authorid having count( distinct keyphrasealias0.keyphrasename ) > 1 ;
----
authors working on datasetname0
select distinct table.paperid from alias where table.datasetname = "datasetname0" group by table.paperid ;
select distinct writesalias0.paperid from dataset as datasetalias0 , paper as paperalias0 , paperdataset as paperdatasetalias0 , writes as writesalias0 where datasetalias0.datasetname = "datasetname0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperalias0.paperid = paperdatasetalias0.paperid and writesalias0.paperid = paperalias0.paperid group by writesalias0.paperid ;
----
best paper in venuename0 year0 ?
select distinct count( distinct table.citingpaperid ) , table.paperid from alias where table.year = year0 and table.venuename = "venuename0" group by table.paperid order by count( distinct table.citingpaperid ) desc ;
select distinct count( distinct citealias0.citingpaperid ) , paperalias0.paperid from cite as citealias0 , paper as paperalias0 , venue as venuealias0 where paperalias0.paperid = citealias0.citedpaperid and paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by paperalias0.paperid order by count( distinct citealias0.citingpaperid ) desc ;
----
citations for authorname0
select distinct table.paperid from alias where table.authorname = "authorname0" ;
select distinct paperalias0.paperid from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citingpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = citealias0.citedpaperid ;
----
coauthors of authorname0
select distinct table.authorid from alias where table.authorname = "authorname0" ;
select distinct authoralias1.authorid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
conference papers of authorname0
select distinct table.paperid from alias where table.authorname = "authorname0" ;
select distinct paperalias0.paperid from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
conferences for keyphrasename0
select distinct table.venueid from alias where table.keyphrasename = "keyphrasename0" ;
select distinct paperalias0.venueid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid ;
----
conferences that mention datasetname0
select distinct table.venueid from alias where table.datasetname = "datasetname0" ;
select distinct paperalias0.venueid from dataset as datasetalias0 , paper as paperalias0 , paperdataset as paperdatasetalias0 where datasetalias0.datasetname = "datasetname0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperalias0.paperid = paperdatasetalias0.paperid ;
----
count of venuename0 papers by author
select distinct count( table.paperid ) , table.authorid from alias where table.venuename = "venuename0" group by table.authorid ;
select distinct count( paperalias0.paperid ) , writesalias0.authorid from paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.paperid = paperalias0.paperid group by writesalias0.authorid ;
----
data sets for keyphrasename0
select distinct table.datasetid from alias where table.keyphrasename = "keyphrasename0" ;
select distinct datasetalias0.datasetid from dataset as datasetalias0 , keyphrase as keyphrasealias0 , paperdataset as paperdatasetalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperkeyphrasealias0.paperid = paperdatasetalias0.paperid ;
----
datasetname0 papers
select distinct table.paperid from alias where table.datasetname = "datasetname0" ;
select distinct paperalias0.paperid from dataset as datasetalias0 , paper as paperalias0 , paperdataset as paperdatasetalias0 where datasetalias0.datasetname = "datasetname0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperalias0.paperid = paperdatasetalias0.paperid ;
----
datasets in papers about keyphrasename0
select distinct table.datasetid from alias where table.keyphrasename = "keyphrasename0" ;
select distinct datasetalias0.datasetid from dataset as datasetalias0 , keyphrase as keyphrasealias0 , paperdataset as paperdatasetalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperkeyphrasealias0.paperid = paperdatasetalias0.paperid ;
----
datasets mentioned at venuename0
select distinct table.datasetid from alias where table.venuename = "venuename0" ;
select distinct datasetalias0.datasetid from dataset as datasetalias0 , paper as paperalias0 , paperdataset as paperdatasetalias0 , venue as venuealias0 where paperdatasetalias0.datasetid = datasetalias0.datasetid and paperalias0.paperid = paperdatasetalias0.paperid and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" ;
----
datasets used for evaluating keyphrasename0
select distinct table.datasetid from alias where table.keyphrasename = "keyphrasename0" ;
select distinct datasetalias0.datasetid from dataset as datasetalias0 , keyphrase as keyphrasealias0 , paperdataset as paperdatasetalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperkeyphrasealias0.paperid = paperdatasetalias0.paperid ;
----
datasets used for keyphrasename0
select distinct table.datasetid from alias where table.keyphrasename = "keyphrasename0" ;
select distinct datasetalias0.datasetid from dataset as datasetalias0 , keyphrase as keyphrasealias0 , paperdataset as paperdatasetalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperkeyphrasealias0.paperid = paperdatasetalias0.paperid ;
----
does authorname0 publish a lot ?
select count( table.paperid ) from alias where table.authorname = "authorname0" ;
select count( paperalias0.paperid ) from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
first keyphrasename0 paper
select distinct table.year from alias where table.keyphrasename = "keyphrasename0" group by table.year order by table.year asc ;
select distinct paperalias0.year from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid group by paperalias0.year order by paperalias0.year asc ;
----
give me the keywords used by authorname0
select distinct table.keyphraseid from alias where table.authorname = "authorname0" ;
select distinct keyphrasealias0.keyphraseid from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
has any paper tried keyphrasename0 for keyphrasename1 ?
select distinct table.paperid from alias where table.keyphrasename in ( "keyphrasename0" , "keyphrasename1" ) group by table.paperid having count( distinct table.keyphraseid ) = 1 ;
select distinct paperkeyphrasealias0.paperid from keyphrase as keyphrasealias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename in ( "keyphrasename0" , "keyphrasename1" ) group by paperkeyphrasealias0.paperid having count( distinct keyphrasealias0.keyphraseid ) = 1 ;
----
has authorname0 or authorname1 published more papers ?
select distinct table.authorname , count( table.paperid ) from alias where table.authorname in ( "authorname0" , "authorname1" ) group by table.authorname order by count( table.paperid ) desc ;
select distinct authoralias0.authorname , count( writesalias0.paperid ) from author as authoralias0 , writes as writesalias0 where authoralias0.authorname in ( "authorname0" , "authorname1" ) and writesalias0.authorid = authoralias0.authorid group by authoralias0.authorname order by count( writesalias0.paperid ) desc ;
----
highly cited keyphrasename0 papers
select distinct table.citedpaperid , count( table.citedpaperid ) from alias where table.keyphrasename = "keyphrasename0" group by table.citedpaperid order by count( table.citedpaperid ) desc ;
select distinct citealias0.citedpaperid , count( citealias0.citedpaperid ) from cite as citealias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = citealias0.citedpaperid and paperalias0.paperid = paperkeyphrasealias0.paperid group by citealias0.citedpaperid order by count( citealias0.citedpaperid ) desc ;
----
hot topics at venuename0 year0
select distinct count( table.paperid ) , table.keyphraseid from alias where table.year = year0 and table.venuename = "venuename0" group by table.keyphraseid order by count( table.paperid ) desc ;
select distinct count( paperalias0.paperid ) , keyphrasealias0.keyphraseid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , venue as venuealias0 where paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by keyphrasealias0.keyphraseid order by count( paperalias0.paperid ) desc ;
----
how is the most cited author in venuename0 ?
select distinct count( distinct table.citingpaperid ) , table.authorid from alias where table.venuename = "venuename0" group by table.authorid order by count( distinct table.citingpaperid ) desc ;
select distinct count( distinct citealias0.citingpaperid ) , writesalias0.authorid from cite as citealias0 , paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.paperid = citealias0.citedpaperid and writesalias0.paperid = paperalias0.paperid group by writesalias0.authorid order by count( distinct citealias0.citingpaperid ) desc ;
----
how is the most prolific author in venuename0 ?
select distinct count( distinct table.paperid ) , table.authorid from alias where table.venuename = "venuename0" group by table.authorid order by count( distinct table.paperid ) desc ;
select distinct count( distinct paperalias0.paperid ) , writesalias0.authorid from paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.paperid = paperalias0.paperid group by writesalias0.authorid order by count( distinct paperalias0.paperid ) desc ;
----
how many citations does authorname0 have ?
select distinct count( table.citedpaperid ) from alias where table.authorname = "authorname0" ;
select distinct count( citealias0.citedpaperid ) from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citedpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----

select distinct citealias0.citedpaperid , count( citealias0.citedpaperid ) from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citedpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid group by citealias0.citedpaperid order by count( citealias0.citedpaperid ) desc ;
----
what keyphrase does authorname0 write about that gets most citations ?
select distinct table.keyphrasename , sum( table.numcitedby ) from alias where table.authorname = "authorname0" group by table.keyphrasename order by sum( table.numcitedby ) desc ;
select distinct keyphrasealias0.keyphrasename , sum( paperalias0.numcitedby ) from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid group by keyphrasealias0.keyphrasename order by sum( paperalias0.numcitedby ) desc ;
----
what keyphrases get most citations ?
select distinct count( table.citingpaperid ) , table.keyphrasename from alias where papertable.keyphraseid = table.keyphraseid group by table.keyphrasename order by count( table.citingpaperid ) desc ;
select distinct count( citealias0.citingpaperid ) , keyphrasealias0.keyphrasename from cite as citealias0 , keyphrase as keyphrasealias0 , paperkeyphrase as paperkeyphrasealias0 where paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperkeyphrasealias0.paperid = citealias0.citedpaperid group by keyphrasealias0.keyphrasename order by count( citealias0.citingpaperid ) desc ;
----
what keywords are used by authorname0
select distinct table.keyphraseid from alias where table.authorname = "authorname0" ;
select distinct keyphrasealias0.keyphraseid from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
what keywords are used by papers at venuename0
select distinct table.keyphraseid from alias where table.venuename = "venuename0" ;
select distinct keyphrasealias0.keyphraseid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , venue as venuealias0 where paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" ;
----
what kind of papers does authorname0 publish
select distinct table.keyphraseid from alias where table.authorname = "authorname0" ;
select distinct keyphrasealias0.keyphraseid from author as authoralias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
what paper did authorname0 and authorname1 write together ?
select distinct table.paperid from alias where table.authorname = "authorname0" and table.authorname = "authorname1" ;
select distinct writesalias0.paperid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and authoralias1.authorname = "authorname1" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
what paper has authorname0 published in venuename0 ?
select distinct table.paperid from alias where table.authorname = "authorname0" and table.venuename = "venuename0" ;
select distinct paperalias0.paperid from author as authoralias0 , paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
what papers are in the venueid0 of year0
select distinct table.paperid from alias where table.year = year0 and table.venuename = "venueid0";
select distinct paperalias0.paperid from paper as paperalias0 , venue as venuealias0 where paperalias0.year = year0 and paperalias0.venueid = venuealias0.venueid and venuealias0.venuename = "venueid0";
----
what papers are published by authorname0 in year0
select distinct table.paperid from alias where table.authorname = "authorname0" and table.year = year0 ;
select distinct paperalias0.paperid from author as authoralias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.year = year0 and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
what papers did venuename0 publish ?
select distinct table.paperid from alias where table.venuename = "venuename0" ;
select distinct paperalias0.paperid from paper as paperalias0 , venue as venuealias0 where venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" ;
----
what papers does authorname0 cite
select distinct table.paperid from alias where table.authorname = "authorname0" ;
select distinct paperalias0.paperid from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citingpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = citealias0.citedpaperid ;
----
what papers have fewer than misc0 citations by venuename0 papers
select distinct table.citingpaperid from alias where table.venuename = "venuename0" group by table.citingpaperid having count( distinct table.citedpaperid ) lt misc0 ;
select distinct citealias0.citingpaperid from cite as citealias0 , paper as paperalias0 , venue as venuealias0 where paperalias0.paperid = citealias0.citedpaperid and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by citealias0.citingpaperid having count( distinct citealias0.citedpaperid ) lt misc0 ;
----
what papers have fewer than misc0 citations by venuename0 papers ?
select distinct table.citingpaperid from alias where table.venuename = "venuename0" group by table.citingpaperid having count( distinct table.citedpaperid ) lt misc0 ;
select distinct citealias0.citingpaperid from cite as citealias0 , paper as paperalias0 , venue as venuealias0 where paperalias0.paperid = citealias0.citedpaperid and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by citealias0.citingpaperid having count( distinct citealias0.citedpaperid ) lt misc0 ;
----
what topics does authorname0 write about most ?
select distinct count( table.keyphraseid ) , table.keyphraseid from alias where table.authorname = "authorname0" group by table.keyphraseid order by count( table.keyphraseid ) desc ;
select distinct count( paperkeyphrasealias0.keyphraseid ) , paperkeyphrasealias0.keyphraseid from author as authoralias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = paperkeyphrasealias0.paperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid group by paperkeyphrasealias0.keyphraseid order by count( paperkeyphrasealias0.keyphraseid ) desc ;
----
what venuename0 papers have less than misc0 citations ?
select distinct table.citingpaperid from alias where table.venuename = "venuename0" group by table.citingpaperid having count( distinct table.citedpaperid ) lt misc0 ;
select distinct citealias0.citingpaperid from cite as citealias0 , paper as paperalias0 , venue as venuealias0 where paperalias0.paperid = citealias0.citedpaperid and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by citealias0.citingpaperid having count( distinct citealias0.citedpaperid ) lt misc0 ;
----
what were some keyphrasename0 based papers in venuename0 year0 ?
select distinct table.paperid from alias where table.keyphrasename = "keyphrasename0" and table.year = year0 and table.venuename = "venuename0" ;
select distinct paperalias0.paperid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , venue as venuealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" ;
----
what year had the most number of venuename0 papers ?
select distinct count( table.paperid ) , table.year from alias where table.venuename = "venuename0" group by table.year order by count( table.paperid ) desc ;
select distinct count( paperalias0.paperid ) , paperalias0.year from paper as paperalias0 , venue as venuealias0 where venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by paperalias0.year order by count( paperalias0.paperid ) desc ;
----
what year was the first keyphrasename0 paper published ?
select distinct table.datasetid , table.year from alias where table.keyphrasename = "keyphrasename0" order by table.year asc ;
select distinct datasetalias0.datasetid , paperalias0.year from dataset as datasetalias0 , keyphrase as keyphrasealias0 , paper as paperalias0 , paperdataset as paperdatasetalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperkeyphrasealias0.paperid = paperdatasetalias0.paperid and paperalias0.paperid = paperdatasetalias0.paperid order by paperalias0.year asc ;
----
when was the first keyphrasename0 paper published ?
select distinct table.year from alias where table.keyphrasename = "keyphrasename0" group by table.year order by table.year asc ;
select distinct paperalias0.year from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid group by paperalias0.year order by paperalias0.year asc ;
----
when were most venuename0 papers published ?
select distinct count( table.paperid ) , table.year from alias where table.venuename = "venuename0" group by table.year order by count( table.paperid ) desc ;
select distinct count( paperalias0.paperid ) , paperalias0.year from paper as paperalias0 , venue as venuealias0 where venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by paperalias0.year order by count( paperalias0.paperid ) desc ;
----
where does authorname0 publish ?
select distinct table.journalid , table.venueid from alias where table.authorname = "authorname0" ;
select distinct paperalias0.journalid , venuealias0.venueid from author as authoralias0 , paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and venuealias0.venueid = paperalias0.venueid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = paperalias0.paperid ;
----
which author has the largest number of publications ?
select distinct count( 1 ) , table.authorid from alias where table.paperid = table.paperid group by table.authorid order by count( 1 ) desc ;
select distinct count( 1 ) , writesalias0.authorid from paper as paperalias0 , writes as writesalias0 where writesalias0.paperid = paperalias0.paperid group by writesalias0.authorid order by count( 1 ) desc ;
----
which papers has authorname0 cited the most ?
select distinct table.citedpaperid , count( 1 alias from alias where table.authorname = "authorname0" group by table.citedpaperid order by derived_fieldalias0 desc ;
select distinct citealias0.citedpaperid , count( 1 ) as derived_fieldalias0 from author as authoralias0 , cite as citealias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = citealias0.citingpaperid group by citealias0.citedpaperid order by derived_fieldalias0 desc ;
----
which papers in venuename0 year0 had keyphrasename0 in them ?
select distinct table.paperid from alias where table.keyphrasename = "keyphrasename0" and table.year = year0 and table.venuename = "venuename0" ;
select distinct paperalias0.paperid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , venue as venuealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" ;
----
which papers use datasetname0 or datasetname1 ?
select distinct table.paperid from alias where table.datasetname in ( "datasetname0" , "datasetname1" ) group by table.paperid ;
select distinct paperalias0.paperid from dataset as datasetalias0 , paper as paperalias0 , paperdataset as paperdatasetalias0 where datasetalias0.datasetname in ( "datasetname0" , "datasetname1" ) and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperalias0.paperid = paperdatasetalias0.paperid group by paperalias0.paperid ;
----
which papers used datasetname0 ?
select distinct table.paperid from alias where table.datasetname = "datasetname0" ;
select distinct paperalias0.paperid from dataset as datasetalias0 , paper as paperalias0 , paperdataset as paperdatasetalias0 where datasetalias0.datasetname = "datasetname0" and paperdatasetalias0.datasetid = datasetalias0.datasetid and paperalias0.paperid = paperdatasetalias0.paperid ;
----
which topics were most popular at venuename0 year0
select distinct count( table.paperid ) , table.keyphraseid from alias where table.year = year0 and table.venuename = "venuename0" group by table.keyphraseid order by count( table.paperid ) desc ;
select distinct count( paperalias0.paperid ) , keyphrasealias0.keyphraseid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , venue as venuealias0 where paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by keyphrasealias0.keyphraseid order by count( paperalias0.paperid ) desc ;
----
which venue publishes the most papers about keyphrasename0
select distinct count( table.paperid ) , table.venueid from alias where table.keyphrasename = "keyphrasename0" group by table.venueid order by count( table.paperid ) desc ;
select distinct count( paperalias0.paperid ) , venuealias0.venueid from keyphrase as keyphrasealias0 , paper as paperalias0 , paperkeyphrase as paperkeyphrasealias0 , venue as venuealias0 where keyphrasealias0.keyphrasename = "keyphrasename0" and paperkeyphrasealias0.keyphraseid = keyphrasealias0.keyphraseid and paperalias0.paperid = paperkeyphrasealias0.paperid and venuealias0.venueid = paperalias0.venueid group by venuealias0.venueid order by count( paperalias0.paperid ) desc ;
----
which venuename0 year0 papers have the most citations ?
select distinct table.citedpaperid , count( table.citedpaperid ) from alias where table.year = year0 and table.venuename = "venuename0" group by table.citedpaperid order by count( table.citedpaperid ) desc ;
select distinct citealias0.citedpaperid , count( citealias0.citedpaperid ) from cite as citealias0 , paper as paperalias0 , venue as venuealias0 where paperalias0.paperid = citealias0.citedpaperid and paperalias0.year = year0 and venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" group by citealias0.citedpaperid order by count( citealias0.citedpaperid ) desc ;
----
who are all the co-authors of authorname0 ?
select distinct table.authorid from alias where table.authorname = "authorname0" ;
select distinct authoralias1.authorid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
who are the authors at venuename0 ?
select distinct table.authorid from alias where table.venuename = "venuename0" ;
select distinct writesalias0.authorid from paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.paperid = paperalias0.paperid ;
----
who authored papers at venuename0 ?
select distinct table.authorid from alias where table.venuename = "venuename0" ;
select distinct writesalias0.authorid from paper as paperalias0 , venue as venuealias0 , writes as writesalias0 where venuealias0.venueid = paperalias0.venueid and venuealias0.venuename = "venuename0" and writesalias0.paperid = paperalias0.paperid ;
----
who does authorname0 author with ?
select distinct table.authorid from alias where table.authorname = "authorname0" ;
select distinct authoralias1.authorid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
who does authorname0 cite
select distinct table.paperid from alias where table.authorname = "authorname0" ;
select distinct paperalias0.paperid from author as authoralias0 , cite as citealias0 , paper as paperalias0 , writes as writesalias0 where authoralias0.authorname = "authorname0" and paperalias0.paperid = citealias0.citingpaperid and writesalias0.authorid = authoralias0.authorid and writesalias0.paperid = citealias0.citedpaperid ;
----
who does authorname0 work with ?
select distinct table.authorid from alias where table.authorname = "authorname0" ;
select distinct authoralias1.authorid from author as authoralias0 , author as authoralias1 , writes as writesalias0 , writes as writesalias1 where authoralias0.authorname = "authorname0" and writesalias0.authorid = authoralias0.authorid and writesalias1.authorid = authoralias1.authorid and writesalias1.paperid = writesalias0.paperid ;
----
who else was on the paper with authorname0 and authorname1 ?
select distinct table.authorid from alias where table.authorname = "authorname0" and table.authorname = "authorname1" ;

In [33]:
for inst in ds:
#     print(inst['sentence'])
#     print(inst['lird'])
#     print(inst['logical_form'])
#     print()

SyntaxError: unexpected EOF while parsing (<ipython-input-33-3dc6bba20f18>, line 5)

In [24]:
ds = dataset['train']
vocab = []
for inst in ds:
    vocab += basic_program_normalize(inst['lird'])
vocab = set(vocab)

In [25]:
vocab

{'"',
 '(',
 ')',
 ',',
 '-',
 '.',
 '0',
 '1',
 '2',
 '=',
 '==',
 '>',
 '>=',
 '\\;',
 'alias',
 'and',
 'asc',
 'authorid',
 'authorname',
 'authorname0',
 'authorname1',
 'by',
 'citedpaperid',
 'citingpaperid',
 'count',
 'curdate',
 'datasetid',
 'datasetname',
 'datasetname0',
 'datasetname1',
 'derived_fieldalias0',
 'desc',
 'distinct',
 'fieldid',
 'from',
 'group',
 'having',
 'in',
 'journalid',
 'journalname',
 'journalname0',
 'keyphraseid',
 'keyphrasename',
 'keyphrasename0',
 'keyphrasename1',
 'like',
 'limit',
 'limit0',
 'lt',
 'lt>',
 'max',
 'min',
 'misc0',
 'numcitedby',
 'order',
 'paperid',
 'papertable',
 'select',
 'sum',
 'table',
 'title',
 'title0',
 'venueid',
 'venueid0',
 'venuename',
 'venuename0',
 'venuename1',
 'where',
 'year',
 'year0'}

In [17]:
a = set()

In [20]:
a = a.union({1,2,3})

In [22]:
a = a.union({1, 5})

In [23]:
a

{1, 2, 3, 5}

In [11]:
import re

def basic_program_normalize(line):
    _patterns = [r'\'',
                 r'\"',
                 r'\.',
                 r'<br \/>',
                 r',',
                 r'\(',
                 r'\)',
                 r'\!',
                 r'\?',
                 r'\;',
                 r'\:',
                 r'\s+']
    _replacements = [' \' ',
                     ' \" ',
                     ' . ',
                     ' ',
                     ' , ',
                     ' ( ',
                     ' ) ',
                     ' ! ',
                     ' ? ',
                     ' \; ',
                     ' \: ',
                     ' ']
    _patterns_dict = list((re.compile(p), r) for p, r in zip(_patterns, _replacements))
    for pattern_re, replaced_str in _patterns_dict:
        line = pattern_re.sub(replaced_str, line)
    return line.split()

In [12]:
lird = """select distinct table.title from alias where table.authorname like "authorname0" and table.keyphrasename = "keyphrasename0" ;"""

In [13]:
lird

'select distinct table.title from alias where table.authorname like "authorname0" and table.keyphrasename = "keyphrasename0" ;'

In [14]:
basic_program_normalize(lird)

['select',
 'distinct',
 'table',
 '.',
 'title',
 'from',
 'alias',
 'where',
 'table',
 '.',
 'authorname',
 'like',
 '"',
 'authorname0',
 '"',
 'and',
 'table',
 '.',
 'keyphrasename',
 '=',
 '"',
 'keyphrasename0',
 '"',
 '\\;']